<app-company-header [companyName] = "companyName"></app-company-header>
 
<!-- compare broker -->

<app-compare-broker></app-compare-broker>
    <!-- compare broker ends -->
    
    <!-- review body -->

    <div class="container-fluid">
      <div class="row m-0">
        <div class="col-md-9">

            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h1 class="display-4">{{companyName}} Stock Trading / Demat / Brokerage / Reviews 2021</h1>
                  <hr class="my-4">
                  <p class="lead">
                    Incorporated in 2008, Edelweiss Broking Ltd. is a Mumbai, India based full- service stockbroking firm. The company is a part of Edelweiss Group, incorporated in 1995, a leading diversified financial services conglomerate.

                    The Retail Broking business of Edelweiss offers facilities to invest & trade in all major asset classes: Equity, Debt, Mutual Funds, IPOs, Currency Derivatives, commodities and Futures & Options.
                    
                    Edelweiss offers investment advice backed by research and analysis to its customers across asset classes, trading styles and time horizons. Edelweiss has the best array of trading platforms available for all mediums (Mobile app, a website & desktop trading software). All trading platforms are equally good & easy to understand, with Edelweiss Mobile Trader app being the highest rated app in India.                  </p>
                  <br>
                  <p class="lead">
                    Edelweiss Group has a strong presence across India with over 475 offices in 200 locations. It has 11,938 employees catering to over 12 lakh clients across various businesses.

                    Edelweiss has won many awards for its services and use of technology. Some of the major awards won in recent times include ABP BFSI Awards 2017, National Digital Marketing Awards, 2017 and Best Broker in India at Finance Asia (Hongkong) Country Awards 2016 and BBC Knowledge.                  </p>
                </div>
              </div>


              <!-- subsection start -->
              <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h1 class="display-4">Account Types
      
                  </h1>
                  <p class="lead">
                    Edelweiss offers 3 types of brokerage plans to suit the varied needs of the traders.

  
      
                  </p>
                  <hr class="my-4">
                  <!-- <p class="lead">Securities Transaction Tax (STT)</p> -->
                 
                <!-- list item -->
                <h4 class="sub-header">
                  <!-- <i class="fa fa-shield mr-2 fa-flip-horizontal"></i> -->
                  Edelweiss Lite (Discount Brokerage Plan)

                </h4>
                <p class="lead">
                    The next generation online trading plan is for people who can trade online with the tools provide and with minimum support from the broker. This plan offers trading at ultra-low brokerage fee of flat Rs 10 per executed order across all trading segment at BSE, NSE and MCX.
                </p>
                <!-- list item ends -->
                <!-- list item -->
                <h4 class="sub-header">
                  <!-- <i class="fa fa-shield mr-2 fa-flip-horizontal"></i> -->
                  Edelweiss Elite
                </h4>
                <p class="lead">
                    Under this plan, the company charges a percentage of the trade value as the brokerage. This full service plan offers personalized trading experience by providing you relationship managers at no extra cost.
                </p>
                <!-- list item ends -->
               
                <!-- list item -->
                <h4 class="sub-header">
                    <!-- <i class="fa fa-shield mr-2 fa-flip-horizontal"></i> -->
                    Advance Subscription (prepaid) Plans

                  </h4>
                  <p class="lead">
                    Under advanced subscription or prepaid plans, customers have to pay a lump sum amount upfront for 12 months. The brokerage charged under prepaid plans is much lower than that of Standard Plan. This plan is for active traders who also get personal relationship manager, higher leverage, free research & training and a low brokerage fees included in the plan itself.                  </p>
                  <!-- list item ends -->
                 
                </div>
              </div>
              <!-- subsection ends -->

              <!-- subsection start -->
              <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <!-- <h1 class="display-4">Upstox Charges 2021
              
                  </h1> -->
                  <h3 class="sub-header">Edelweiss Charges 2021</h3>

                  <hr class="my-4">
                  <!-- <p class="lead">Securities Transaction Tax (STT)</p> -->

                 <!-- subsection start -->
                  <!-- list item -->
                  <h4 class="sub-header">Account Opening Fees & Annual maintenance charges (AMC)</h4>
                  <p class="lead">Edelweiss offers free account opening for trading and demat accounts. The Edelweiss
                    Demat Account Annual Maintenance Charges is Rs 500 per year. The demat AMC is free for the first
                    year.</p>
                  <!-- list item ends -->

                  <table class="table mt-5 mb-5 text-center">
                    <thead>
                      <!-- <tr>
                        <th scope="col">Plan</th>
                        <th scope="col">Customer Pays</th>
                        <th scope="col">Customer gets brokerage worth</th>
                        <th scope="col">Extra brokerage earned</th>
                      </tr> -->
                    </thead>
                    <tbody>
                      <tr>
                        <td>Trading and Demat Account Opening Charges</td>
                        <td>
                          {{companyData?.table_account_opening_fees_and_annual_maintenance_charges?.trading_and_demat}}
                        </td>

                      </tr>
                      <tr>
                        <td>Demat Account AMC </td>
                        <td>
                          {{companyData?.table_account_opening_fees_and_annual_maintenance_charges?.demat_account_amc}}
                        </td>


                      </tr>


                    </tbody>
                  </table>

                 <!-- subsection ends -->
                  <!-- subsection start -->
                  <!-- list item -->
                  <h4 class="sub-header">Edelweiss Lite Plan Charges</h4>
                  <p class="lead">Edelweiss Lite Plan is a flat-rate discount brokerage plan offered to online
                    customers. They charge flat Rs 10 per executed order for trading in equity delivery, intraday and
                    F&O. The same brokerage is charged for trading in currency derivatives.</p>
                  <!-- list item ends -->

                  <table class="table mt-5 mb-5 text-center">
                    <thead>
                      <tr>
                        <th scope="col">Segment</th>
                        <th scope="col">Brokerage Charges
                        </th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Equity Delivery & Intra-day</td>
                        <td> {{companyData?.table_edelweiss_lite_plan_charges?.equity_delivery_and_intraday}}</td>

                      </tr>
                      <tr>
                        <td>Equity Futures & Options </td>
                        <td> {{companyData?.table_edelweiss_lite_plan_charges?.equity_futures_and_options}}</td>


                      </tr>
                      <tr>
                        <td>Currency Futures & Options </td>
                        <td> {{companyData?.table_edelweiss_lite_plan_charges?.currency_futures_and_options}}</td>


                      </tr>

                    </tbody>
                  </table>

                  <!-- subsection ends -->

                   <!-- subsection start -->
                  <!-- list item -->
                  <h4 class="sub-header">Edelweiss Elite Plan Charges</h4>
                  <p class="lead">Edelweiss Elite Plan is a traditional full-service brokerage plan. They charge 0.30% for equity delivery, 0.03% for equity intraday and futures, Rs 75 per lot for equity options, 0.02% for currency futures and Rs 20 per lot for currency options. This plan offers online & offline trading, personal relationship manager, free research and many other benefits.

                  </p>
                  <!-- list item ends -->

                  <table class="table mt-5 mb-5 text-center">
                    <thead>
                      <tr>
                        <th scope="col">Segment</th>
                        <th scope="col">Brokerage Charges
                        </th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Equity Delivery </td>
                        <td> {{companyData?.table_edelweiss_elite_plan_charges?.equity_delivery}}</td>

                      </tr>
                      <tr>
                        <td>Equity Intra-day</td>
                        <td> {{companyData?.table_edelweiss_elite_plan_charges?.equity_intraday}}</td>

                      </tr>
                      <tr>
                        <td>Equity Futures </td>
                        <td> {{companyData?.table_edelweiss_elite_plan_charges?.equity_futures}}</td>


                      </tr>
                      <tr>
                        <td>Equity Options </td>
                        <td> {{companyData?.table_edelweiss_elite_plan_charges?.equity_options}}</td>


                      </tr>
                      <tr>
                        <td>Currency Futures </td>
                        <td> {{companyData?.table_edelweiss_elite_plan_charges?.currency_futures}}</td>


                      </tr>
                      <tr>
                        <td>Currency Options </td>
                        <td> {{companyData?.table_edelweiss_elite_plan_charges?.currency_options}}</td>


                      </tr>
                    </tbody>
                  </table>

                  <!-- subsection ends -->


            <!-- subsection start -->
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <!-- <hr class="my-4"> -->
  
                  <h1 class="display-4">Edelweiss Online Account Opening

      
                  </h1>
                  <p class="lead">
                    Edelweiss account opening for online trading is simple and quick. Following are the ways to open an account with Edelweiss

      
                  </p>
                  <hr class="my-4">
                  <!-- <p class="lead">Securities Transaction Tax (STT)</p> -->
                 
                <!-- list item -->
                <p class="lead">
                  <i class="fa fa-check-square-o" aria-hidden="true"></i>  
                  <b>Drop your phone number</b> and Edelweiss Customer Service Executive will call you for trading & demat account opening.                </p>
                <!-- list item ends -->
            </div>
            </div>
              
                </div>
              </div>
              <!-- subsection ends -->

 <!-- subsection start -->
 <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <!-- <h1 class="display-4">Upstox Charges 2021
  
      </h1> -->
      <h3 class="sub-header">Edelweiss Trading Software (Edelweiss Trading Platforms)</h3>

      <hr class="my-4">
      <!-- <p class="lead">Securities Transaction Tax (STT)</p> -->

     <!-- subsection start -->
      <!-- list item -->
      <h4 class="sub-header">Website www.Edelweiss.in
      </h4>
      <p class="lead">The Edelweiss.in website is a free online trading platform offering trading and investment in
        financial products including stock, commodity and mutual funds. The website also offers portfolio tracking,
        charting, news and an instant fund transfer services.

        Another key feature of this website is the 'Quick Trading Toolbar' which allows customers to trade instantly.
        This toolbar also keeps track of all recent activities i.e. stocks viewed, pages surfed/taking position/tracking
        stock or contracts.

        Edelweiss also has a low bandwidth website (Mobile WAP) which enables customers to trade on the mobile devices.
        Using this extremely light website customers can place trades and monitor stock positions in real-time on the
        mobile phone.
      </p>
      <!-- list item ends -->

      <!-- list item -->
      <h4 class="sub-header">Edelweiss Xpress
    </h4>
    <p class="lead">The Xpress a free web browser based trading application offering terminal-like experience without installing any software on your computer.

        Build with Java-based technology, Xpress is a browser based application which replicates the trading terminal by providing live streaming of stock quotes.
        
        Edelweiss Xpress allows Edelweiss customers to buy & sell equity and derivatives directly from the Xpress screen in Delivery, Intraday and T+5 segments.
    </p>
    <!-- list item ends -->

    <!-- list item -->
    <h4 class="sub-header">Edelweiss Xtreme Trader
    </h4>
    <p class="lead">Xtreme Trader is a 'Installable Desktop Trading Software' offering live-streaming quotes, advance charting tools and technical analysis for high frequency traders. Xtreme Trader offers customizable interface, shortcut keys for frequent actions, instant flashing research calls, stock alerts (on-screen, sms and e-mail) on condition defined by you and powerful charting tools designed for traders.
    </p>
    <!-- list item ends -->
<!-- list item -->
<h4 class="sub-header">Edelweiss Mobile Trader
</h4>
<p class="lead">Mobile Trader, a free smart phone trading app, offers trading capabilities (trade on NSE, BSE in Equities, Derivatives and Currency) on mobile phone to Edelweiss clients. In addition, it also offers live streaming quotes, portfolio monitoring, fund transfer, charting (candle stick, area, line, OHLC), experts research, Trade Book, Order Book, Holdings, Balances and many other useful features.
</p>
<!-- list item ends -->

    </div>
 </div>
 

     <!-- subsection start -->
     <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <!-- <hr class="my-4"> -->

          <h1 class="display-4">Edelweiss Pros (Advantages)

          </h1>
          <p class="lead">
            The following are the advantages of Edelweiss. You must read Edelweiss advantages and disadvantages before opening an account with Edelweiss. Edelweiss pros and cons help you find if it suits your investment needs.


          </p>
          <hr class="my-4">
          <!-- <p class="lead">Securities Transaction Tax (STT)</p> -->
         
        <!-- list item -->
        <p class="lead">
          <i class="fa fa-check-square-o" aria-hidden="true"></i>  
          Full-service broker offering discount brokerage plan.        
        </p>
        <!-- list item ends -->
       
        <!-- list item -->
        <p class="lead">
          <i class="fa fa-check-square-o" aria-hidden="true"></i>  
          Flat Rs 10 per executed order brokerage across the trading segments.        </p>
        <!-- list item ends -->
        <!-- list item -->
        <p class="lead">
          <i class="fa fa-check-square-o" aria-hidden="true"></i>  
          Free research, trading tips, and recommendations.
        </p>
        <!-- list item ends -->

        <!-- list item -->
        <p class="lead">
          <i class="fa fa-check-square-o" aria-hidden="true"></i>  
          Instant paperless online account opening.
          <!-- list item ends -->
        <!-- list item -->
        <p class="lead">
          <i class="fa fa-check-square-o" aria-hidden="true"></i>  
          Excellent mobile application, website & desktop trading software for trading.
        </p>
        <!-- list item ends -->
        <!-- list item -->
        <p class="lead">
          <i class="fa fa-check-square-o" aria-hidden="true"></i>  
          Online IPO investment.
        </p>
        <!-- list item ends -->
        <!-- list item -->
        <p class="lead">
          <i class="fa fa-check-square-o" aria-hidden="true"></i>  
          High leverage facilities across Cash, F&O and CDS segments.
        </p>
        <!-- list item ends -->
        <!-- list item -->
        <p class="lead">
          <i class="fa fa-check-square-o" aria-hidden="true"></i>  
          Wide offline presence through branches and franchises makes it easy for customers.
          <!-- list item ends -->
        <!-- list item -->
        <p class="lead">
          <i class="fa fa-check-square-o" aria-hidden="true"></i>  
          Relationship managers and add-on services like PMS are available.
        </p>
        <!-- list item ends -->

        </div>
      </div>

      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Edelweiss Cons (Disadvantages)


          </h1>
          <p class="lead">
            The following are the cons of Edelweiss. Check the list of Edelweiss drawbacks.


          </p>
          <hr class="my-4">
          <!-- <p class="lead">Securities Transaction Tax (STT)</p> -->
         
       <!-- list item -->
       <p class="lead">
        <i class="fa fa-check-square-o" aria-hidden="true"></i>  
        Bracket orders and Good-Till canceled (GTC) orders are not available.

      </p>
      <!-- list item ends -->
      <!-- list item -->
      <p class="lead">
        <i class="fa fa-check-square-o" aria-hidden="true"></i>  
        Charge high minimum brokerage: 3 paise per share in delivery, 1 paisa per share on Intraday and Futures

      </p>
      <!-- list item ends -->
      <!-- list item -->
      <p class="lead">
        <i class="fa fa-check-square-o" aria-hidden="true"></i>  
        Call & Trade is available at an additional cost of Rs 20 per call.

      </p>
      <!-- list item ends -->
      <!-- list item -->
      <p class="lead">
        <i class="fa fa-check-square-o" aria-hidden="true"></i>  
        Rs 50 per month for research calls and trading tips.

      </p>
      <!-- list item ends -->
     
        </div>
      </div>

      <!-- subsection end -->

         <!-- sub section start-->
         <h3 class="sub-header">Edelweiss Margin / Exposure
        </h3>
        <hr>
        <p class="sub-header-content">
            Edelweiss leverage for intraday, delivery, options, currency and commodities.


        </p>
      
        <table class="table mt-5 mb-5 text-center">
          <thead>
            <tr>
              <th scope="col">Segment	</th>
              <th scope="col">Margin		</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Equity Delivery	</td>
              <td> {{companyData?.table_margin_exposure?.equity_delivery}}</td>
      
            </tr>
            <tr>
              <td>Equity Intraday		</td>
              <td> {{companyData?.table_margin_exposure?.equity_intraday}} </td>
            </tr>
            
            <tr>
              <td>Equity Future	</td>
              <td> {{companyData?.table_margin_exposure?.equity_futures}} </td>
            </tr>
            
           <tr>
             <td>Equity Options		</td>
             <td> {{companyData?.table_margin_exposure?.equity_options}} </td>
            </tr>
           <tr>
             <td>Currency Future		</td>
             <td> {{companyData?.table_margin_exposure?.currency_futures}}</td>
           </tr>
           <tr>
             <td>Currency Options		</td>
             <td> {{companyData?.table_margin_exposure?.currency_options}} </td>
           </tr>
           <tr>
            <td>Commodity Future			</td>
            <td> {{companyData?.table_margin_exposure?.commodity_futures}}</td>
          </tr>
          <tr>
            <td>Commodity Options			</td>
            <td> {{companyData?.table_margin_exposure?.commodity_options}}</td>
          </tr>
          </tbody>
        </table>
     
        <!-- subsection ends-->
             <!-- col-md-9 -->
        </div>
        <div class="col-md-3">
            <app-special-offers></app-special-offers>
        </div>


<app-compare-broker-list [companyName]="companyName" [companyUrl] = "'edelweiss'"></app-compare-broker-list>

<!-- FAQs -->
<div class="container pt-3 note-pad" >
    <h1 class="display-4 text-center m-5" style="color:  #333958;">
      <i class="fa fa-question-circle mr-2" aria-hidden="true"></i> Frequently Asked Questions
    
    </h1>
    <hr class="my-4">

      <div class="row mx-auto m-1 text-center ">
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
             
             <a class="form-control" class="faq"  href="">What is Edelweiss broking?</a>
                
             
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">Is Edelweiss a good company?</a>

            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                How to apply for IPO through Edelweiss?
              </a>

            </div>
          </div>
        </div>
      </div>
      <div class="row mx-auto m-1 text-center">
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                How to activate F&O in Edelweiss?
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                How to transfer funds to Edelweiss?
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
         
        </div>
      </div>
    
      
  </div>
  <!-- FAQs ends -->
      </div>
    </div>
