<!-- <div class="header"> -->
 
<nav class="navbar navbar-expand-sm bg-light justify-content-left">
  <ul class="navbar-nav">
    <li class="nav-item">
      <i class="fa fa-home" aria-hidden="true" routerLink="/" style="color: white;font-size: 42px;cursor: pointer;"></i>
    </li>
    <!-- Broker Reviews -->
    <li class="nav-item" >
      <div class="dropdown">
        <button  (click) = "setBottomBorder('dropdownMenu2')" class="btn  dropdown-toggle calculator" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Broker Reviews
        </button>
        <div class="dropdown-menu">
         
          <div class="container-fluid">
            <div class="col-4">
              <h6 class="dropdown-header">BROKERAGE CALCULATOR</h6>
           <a class="dropdown-item" routerLink="review/zerodha" routerLinkActive="active" >Zerodha</a>
           <a class="dropdown-item" routerLink="review/five-paisa" routerLinkActive="active">5Paisa </a>
           <a class="dropdown-item"  routerLink="review/upstox" routerLinkActive="active"  >Upstox </a>
           <a class="dropdown-item" routerLink="review/sharekhan" routerLinkActive="active">Sharekhan </a>
           <a class="dropdown-item" routerLink="review/angel-broking" routerLinkActive="active" >Angel Broking </a>
           <a class="dropdown-item" routerLink="review/hdfc-securities" routerLinkActive="active">HDFC Securities </a>
           <a class="dropdown-item" routerLink="review/kotak-securities" routerLinkActive="active" >Kotak Securities</a>
           <a class="dropdown-item" routerLink="review/icici-direct" routerLinkActive="active">ICICI Direct </a>
           <a class="dropdown-item" routerLink="review/motilal-oswal" routerLinkActive="active" >Motilal Oswal </a>
           <a class="dropdown-item" routerLink="review/axis-direct" routerLinkActive="active">Axis Direct </a>
           </div>
 
           <div class="col-4">
            <h6 class="dropdown-header">BROKERAGE CALCULATOR</h6>
         <a class="dropdown-item" routerLink="review/samco-brokerage" routerLinkActive="active" >Samco Brokerage</a>
         <a class="dropdown-item" routerLink="review/india-infoline" routerLinkActive="active">India Infoline OR IIFL </a>
         <a class="dropdown-item" routerLink="review/sbi-securities" routerLinkActive="active" >SBI Securities </a>
         <a class="dropdown-item"  routerLink="review/edelweiss" routerLinkActive="active">Edelweiss </a>
         <a class="dropdown-item" href="#" >Groww </a>
         <a class="dropdown-item" href="#">Geojit BNP Paribas </a>
         <a class="dropdown-item" href="#" >Karvy</a>
         <a class="dropdown-item" href="#">Anand Rathi </a>
         <a class="dropdown-item" href="#" >SMC GLOBAL </a>
         </div>
 
         <div class="col-4">
          <h6 class="dropdown-header">MARGIN CALCULATOR</h6>
       <a class="dropdown-item" routerLink="review/zerodha" routerLinkActive="active" >Zerodha</a>
       <a class="dropdown-item" routerLink="review/upstox" routerLinkActive="active">Upstox </a>
       <a class="dropdown-item" routerLink="review/sharekhan" routerLinkActive="active" >Sharekhan </a>
       <a class="dropdown-item" routerLink="review/angel-broking" routerLinkActive="active">Angel Broking </a>
       <a class="dropdown-item" routerLink="review/five-paisa" routerLinkActive="active" >5Paisa </a>
       <a class="dropdown-item" href="#">HDFC Securities </a>
       <a class="dropdown-item" href="#" >KOTAK Securities</a>
       <a class="dropdown-item" href="#">ICICI Direct </a>
       <a class="dropdown-item" href="#" >Motilal Oswal </a>
       </div>
          </div>
          
        </div>
      </div>

      <!-- <a class="nav-link"  id="calculator" (click) = "setBottomBorder('calculator')" >
        CALCULATOR
      </a> -->
    </li>
    <!-- / Broker Reviews -->
 
    <!-- stock market -->
     <li class="nav-item" >
      <div class="dropdown">
        <button  (click) = "setBottomBorder('dropdownMenu2')" class="btn  dropdown-toggle calculator" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Stock Market
        </button>
        <div class="dropdown-menu">
         
          <div class="container-fluid">
            <div class="col-4">
              <h6 class="dropdown-header">STOCK MARKET</h6>
           <a class="dropdown-item" routerLink="review/zerodha" routerLinkActive="active" >Stock Home page</a>
           <a class="dropdown-item" href="#">Stock Trading Holidays </a>
           <a class="dropdown-item"  routerLink="review/upstox" routerLinkActive="active"  >Commodity Trading </a>
           <a class="dropdown-item" href="#">Holidays </a>
           <a class="dropdown-item" href="#" >Stock Message Board </a>
          
           </div>
 
           <div class="col-4">
            <h6 class="dropdown-header">NSE/BSE</h6>
         <a class="dropdown-item" href="#" >NSE SME Share Prices</a>
         <a class="dropdown-item" href="#">Nse Bulk Deals </a>
         <a class="dropdown-item" href="#" >NSE Circuit Filter </a>
         <a class="dropdown-item" href="#">BSE SME Share Prices </a>
      
         </div>
 
         <div class="col-4">
          <h6 class="dropdown-header">STOCK MARKET FAQs</h6>
       <a class="dropdown-item" href="#" >FAQ List</a>
       <a class="dropdown-item" href="#">Demat Account </a>
       <a class="dropdown-item" href="#" >PAN Card </a>
       <a class="dropdown-item" href="#">Stock Market Basics </a>
       <a class="dropdown-item" href="#" >IPO Basics </a>
       
       </div>
          </div>
          
        </div>
      </div>

      <!-- <a class="nav-link"  id="calculator" (click) = "setBottomBorder('calculator')" >
        CALCULATOR
      </a> -->
    </li>
    <!-- / stock market -->

    <!-- Options Trading -->
    <li class="nav-item" >
      <div class="dropdown">
        <button  (click) = "setBottomBorder('dropdownMenu2')" class="btn  dropdown-toggle calculator" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Options Trading
        </button>
        <div class="dropdown-menu">
         
          <div class="container-fluid">
            <div class="col-3">
              <h6 class="dropdown-header"> BASICS </h6>
           <a class="dropdown-item" routerLink="review/zerodha" routerLinkActive="active" >Trading Homepage</a>
           <a class="dropdown-item" href="#">Overview </a>
           <a class="dropdown-item"  routerLink="review/upstox" routerLinkActive="active"  >Benifits & Risks </a>
           <a class="dropdown-item" href="#">Pricing </a>
           <a class="dropdown-item" href="#" >Trading FAQs</a>
           <a class="dropdown-item" href="#">Trading Glossary </a>
          
           </div>
 
           <div class="col-3">
            <h6 class="dropdown-header">BROKER Reviews</h6>
         <a class="dropdown-item" routerLink="review/zerodha" routerLinkActive="active" >Zerodha</a>
         <a class="dropdown-item" routerLink="review/five-paisa" routerLinkActive="active">5Paisa </a>
         <a class="dropdown-item" routerLink="review/prostocks" routerLinkActive="active" >ProStocks </a>
         <a class="dropdown-item" routerLink="review/sharekhan" routerLinkActive="active">Share Khan </a>
         <a class="dropdown-item" routerLink="review/angel-broking" routerLinkActive="active" >Angel Broking </a>
         <a class="dropdown-item" href="#">ICICI Direct </a>
        
         </div>
 
         <div class="col-3">
          <h6 class="dropdown-header">TRADING PLATFORM</h6>
       <a class="dropdown-item" href="#" >Kite Zerodha</a>
       <a class="dropdown-item" href="#">Trade  Tiger Sharekhan </a>
       <a class="dropdown-item" href="#" >Omnisys NEST </a>
       <a class="dropdown-item" href="#">Upstox RKSV </a>
       <a class="dropdown-item" href="#" >Fyers One Fyers </a>
       <a class="dropdown-item" href="#">ScalperT Finvasia </a>
      
       </div>

       <div class="col-3">
        <h6 class="dropdown-header">STRATEGIES</h6>
     <a class="dropdown-item" href="#" >Strategies List</a>
     <a class="dropdown-item" href="#">Side-By-Side Comparison </a>
     <a class="dropdown-item" href="#" >Options Strategy FAQs </a>

    
     </div>

          </div>
          
        </div>
      </div>

      <!-- <a class="nav-link"  id="calculator" (click) = "setBottomBorder('calculator')" >
        CALCULATOR
      </a> -->
    </li>
    <!-- /Options Trading -->
<!-- NRI Account -->
<li class="nav-item" >
  <div class="dropdown">
    <button  (click) = "setBottomBorder('dropdownMenu2')" class="btn  dropdown-toggle calculator" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      NRI Account
    </button>
    <div class="dropdown-menu">
     
      <!-- <div class="container-fluid"> -->
       <div class="row">
        <div class="col-4">
          <h6 class="dropdown-header">BEST OF</h6>
       <a class="dropdown-item" routerLink="review/zerodha" routerLinkActive="active" >NRI Homepage</a>
       <a class="dropdown-item" href="#">Best NRI Trading Account </a>
       <a class="dropdown-item"  routerLink="review/upstox" routerLinkActive="active"  >Best NRI 3 in 1 Account </a>
       <a class="dropdown-item" href="#">'Top 10 Discount Brokers' </a>
       <a class="dropdown-item" href="#" >Top 10 Full-Service Brokers </a>
  
       </div>

       <div class="col-4">
        <h6 class="dropdown-header">NRI TRADING GUIDE</h6>
     <a class="dropdown-item" href="#" >Trading Account Basics</a>
     <a class="dropdown-item" href="#">Trading Requirements </a>
     <a class="dropdown-item" href="#" >Demat Account Explained </a>
     <a class="dropdown-item" href="#">USA NRI Trading Account </a>
     <a class="dropdown-item" href="#" >Trading in Derivatives </a>
     <a class="dropdown-item" href="#">More Articles ... </a>
     
     </div>

     <div class="col-4">
      <h6 class="dropdown-header">NRI BROKER REVIEWS</h6>
   <a class="dropdown-item" href="#" >ICICI Direct</a>
   <a class="dropdown-item" href="#">Zerodha </a>
   <a class="dropdown-item" href="#" >Tradeplus </a>
   <a class="dropdown-item" href="#">ProStocks </a>
   <a class="dropdown-item" href="#" >Axis Bank </a>
   <a class="dropdown-item" href="#">Angel Broking </a>

   </div>
       </div>
       <br>
       <div class="row">
        <div class="col-4">
          <h6 class="dropdown-header">NRI BROKERAGE COMPARISON</h6>
       <a class="dropdown-item" routerLink="review/zerodha" routerLinkActive="active" >ICICI Direct vs Zerodha</a>
       <a class="dropdown-item" href="#">HDFC Securities Vs Zerodha </a>
       <a class="dropdown-item"  routerLink="review/upstox" routerLinkActive="active"  >Axis Direct Vs Zerodha </a>
       <a class="dropdown-item" href="#">Angel Broking Vs Zerodha </a>
       <a class="dropdown-item" href="#" >ICICI Direct Vs HDFC </a>
       <a class="dropdown-item" href="#" >Securities </a>

       </div>

       <div class="col-4">
        <h6 class="dropdown-header">NRI TRADING TERMS</h6>
     <a class="dropdown-item" href="#" >NRI Account</a>
     <a class="dropdown-item" href="#">NRI 3-IN-1 Account </a>
     <a class="dropdown-item" href="#" >NRI Demat Account </a>
     <a class="dropdown-item" href="#">NRI Trading Account </a>
     <a class="dropdown-item" href="#" >Repatriation </a>
     <a class="dropdown-item" href="#">More Glossary Items </a>
     
     </div>

     
       </div>
      <!-- </div> -->
      
    </div>
  </div>

  <!-- <a class="nav-link"  id="calculator" (click) = "setBottomBorder('calculator')" >
    CALCULATOR
  </a> -->
</li>
<!-- / NRI Account -->
   
    <li class="nav-item" >
      <div class="dropdown">
        <button  (click) = "setBottomBorder('dropdownMenu2')" class="btn  dropdown-toggle calculator" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          CALCULATOR
        </button>
        <div class="dropdown-menu" style="left: -100px;">
         
          <div class="container-fluid">
            <div class="col-4">
              <h6 class="dropdown-header">BROKERAGE CALCULATOR</h6>
           <a class="dropdown-item" routerLink="review/zerodha" routerLinkActive="active" >Zerodha</a>
           <a class="dropdown-item" href="#">5Paisa </a>
           <a class="dropdown-item"  routerLink="review/upstox" routerLinkActive="active"  >Upstox </a>
           <a class="dropdown-item" href="#">Sharekhan </a>
           <a class="dropdown-item" href="#" >Angel Broking </a>
           <a class="dropdown-item" href="#">HDFC Securities </a>
           <a class="dropdown-item" href="#" >Kotak Securities</a>
           <a class="dropdown-item" href="#">ICICI Direct </a>
           <a class="dropdown-item" href="#" >Motilal Oswal </a>
           <a class="dropdown-item" href="#">Axis Direct </a>
           </div>
 
           <div class="col-4">
            <h6 class="dropdown-header">BROKERAGE CALCULATOR</h6>
         <a class="dropdown-item" href="#" >Samco Brokerage</a>
         <a class="dropdown-item" href="#">India Infoline OR IIFL </a>
         <a class="dropdown-item" href="#" >SBI Securities </a>
         <a class="dropdown-item" href="#">Edelweiss </a>
         <a class="dropdown-item" href="#" >Groww </a>
         <a class="dropdown-item" href="#">Geojit BNP Paribas </a>
         <a class="dropdown-item" href="#" >Karvy</a>
         <a class="dropdown-item" href="#">Anand Rathi </a>
         <a class="dropdown-item" href="#" >SMC GLOBAL </a>
         </div>
 
         <div class="col-4">
          <h6 class="dropdown-header">MARGIN CALCULATOR</h6>
       <a class="dropdown-item" href="#" >Zerodha</a>
       <a class="dropdown-item" href="#">Upstox </a>
       <a class="dropdown-item" href="#" >Sharekhan </a>
       <a class="dropdown-item" href="#">Angel Broking </a>
       <a class="dropdown-item" href="#" >5Paisa </a>
       <a class="dropdown-item" href="#">HDFC Securities </a>
       <a class="dropdown-item" href="#" >KOTAK Securities</a>
       <a class="dropdown-item" href="#">ICICI Direct </a>
       <a class="dropdown-item" href="#" >Motilal Oswal </a>
       </div>
          </div>
          
        </div>
      </div>

      <!-- <a class="nav-link"  id="calculator" (click) = "setBottomBorder('calculator')" >
        CALCULATOR
      </a> -->
    </li>

    <li class="nav-item">
      <!-- <a class="nav-link"  id="contactUs" (click) = "setBottomBorder('contactUs')">CONTACT US</a> -->
    </li>
    <li class="nav-item">
      <!-- <a class="nav-link" href="#">Link 3</a> -->
    </li>
  </ul>
</nav>
<br>

<!-- </div> -->