.moveToTopDiv {
  height: 42px;
    width: 42px;
    background: #2b3152;
    position: absolute;
    right: 0px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    position: fixed;
    z-index: 10;
    bottom: 42px;
}
.fa-arrow-up:hover {
  cursor: pointer;
}
/* .header {
    overflow: hidden;
    background-color:rgb(59, 26, 97);
    margin: -10px;
  }
  
  .header a.title {
    font-size: 35px;
    font-weight: bold;
    margin: auto;
    
  }
   */
  .nav-item {
    margin-right: 24px;
    background: #333958;
    min-height: 64px;
  }
  .nav-item:hover {
    background: #2b3152;
    min-height: 64px;

  }
  .navbar {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    /* background-color: #33b5e5 !important; */
    /* background-color: #3f51b5 !important; */
    background-color: #333958 !important;
    /* padding: 0px; */
    font-family: "Roboto",sans-serif;
    height: 64px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
   p {
    font-family: Lato;
  }
.dropdown {
  margin-top: .5rem !important;
  font-weight: 100;
}
  #dropdownMenu2, #dropdownMenu3, #dropdownMenu4, #dropdownMenu5, #dropdownMenu6 {
    box-shadow: none;
    color: white;
  }
.dropdown-header {
  color: #343a40;
    font-weight: 600;
}
  .dropdown .dropdown-toggle {
    display: block;
    /* padding: 20px 24px; */
    font-size: 13px;
    text-transform: uppercase;
    /* color: rgba(255, 255, 255, 0.8); */
    color: white;
    /* color: #f8f9fa; */
    text-align: center;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-weight: 500;
    /* border-bottom: 3px solid white; */
    height: 120%;
    cursor: pointer;
  }

  .dropdown-menu {
    color: white;
    margin-top: 11%;
    /* float: left;
    width: 50%; */
    padding-top: 0; 
    padding-bottom: 0;
    /* background: #3f51b5; */
    min-width: max-content;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  }

  .dropdown-item {
    /* color: white; */
    color: #1a3148;
    /* background: #10b0ea; */
    font-size: smaller;

  }
  
  .dropdown-item:hover{
    /* color: #33b5e5; */
    color: white;
    border-radius: 3px;
    /* background: #10b0ea; */
    background: #1a3148;
    transition: .5s;
    font-size: smaller;
  }
  /* .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0px; 
    
 } */
  .container-fluid {
    width: max-content;
    align-items: normal;
    /* background-color: #33b5e5 !important; */
    /* background: #3f51b5; */
    /* background: #1a3148; */
    /* font-size: 20px; */
    font-weight: 300;
    box-shadow:  0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
