<!-- Buttons -->
<div class="row mr-0">
    <!-- <div class="col-1">
       
  
    </div> -->
    <div class="col-12" style="margin-top: -20px;">
        <a href="" class="btn btn-danger btn-md waves-effect waves-light">Upstox Review</a>
        <a href="" class="btn btn-danger btn-md waves-effect waves-light">Brokerage</a>
        <a href="" class="btn btn-danger btn-md waves-effect waves-light">Mobile App</a>
        <a href="" class="btn btn-danger btn-md waves-effect waves-light">Exposure</a>
        <a href="" class="btn btn-danger btn-md waves-effect waves-light">Acct Opening</a>
        <a href="" class="btn btn-danger btn-md waves-effect waves-light">Demat</a>
        <a href="" class="btn btn-danger btn-md waves-effect waves-light">IPO</a>
        <a href="" class="btn btn-danger btn-md waves-effect waves-light">Branches</a>
        <a href="" class="btn btn-danger btn-md waves-effect waves-light">Trading Software</a>
        <a href="" class="btn btn-danger btn-md waves-effect waves-light">NRI Account</a>
        <a href="" class="btn btn-danger btn-md waves-effect waves-light">Mutual Fund</a>
        <!-- <a href="" class="btn btn-danger btn-md waves-effect waves-light">BROKERAGE</a> -->
       
    </div>
    <!-- <div class="col-1">
        
       
    </div> -->
    
  </div>


  <div class="   p-3" style="background: #333958; margin-top: -25px;">

    <div class="row ">
      <div class="col-6" style="color: white;">
        <h1 class="font-weight-bold mb-3 h2">Upstox</h1>
        <!-- <h4 class="mb-2 h5 text-left">
              A stock broker plays an essential role in the buying and selling of securities in India. Since stockbrokers play an important role, it is crucial to choose the most suitable stockbroker for yourself.
              They help you in opening a Demat and Trading Account for your trading and investment needs.
          </h4> -->
      </div>
      <div class="col-3">
  
      </div>
      <div class="col-3">
        <p>
          <!-- <a href="" class="btn btn-danger btn-md waves-effect waves-light">Margin Calculator</a> -->
        </p>
      </div>
    </div>
  
  </div>


  

  <!-- compare broker -->

  <div class="container-fluid mt-5 p-3 mb-5">
    <div class="row mt-2">
      <div class="row mx-auto">
        <div class="col-md-4">
          <!-- <label for="">First Broker</label> -->
          <input type="text" placeholder="" [(ngModel)]="broker1"  class="form-control">
  
      </div>
          <div class="col-md-4">
              <!-- <label for="">Second Broker</label> -->
              <input type="text" placeholder="" [(ngModel)]="broker2"  class="form-control">
  
          </div>
          
          
          
          <div class="col-md-4">
              <button type="submit" (click) = "submitCompareForm()"  class=" submit-button "><b>Compare Brokers</b></button>
  
          </div>
      </div>
    </div>
  </div>
    <!-- compare broker ends -->


    <!-- review body -->

  <div class="container-fluid">
    <div class="row m-0">
      <div class="col-md-9">

          <div class="jumbotron jumbotron-fluid">
              <div class="container">
                <h1 class="display-4">Upstox Stock Trading / Demat / Brokerage / Reviews 2021</h1>
                <hr class="my-4">
                <p class="lead">
                  Upstox is a tech-first low cost broking firm in India providing trading opportunities at unbeatable prices.                
                </p>
                <br>
                <p class="lead">
                  Company provide trading on different segments such as equities, commodities, currency, futures, options which are available on its Upstox Pro Web and Upstox Pro Mobile trading platforms.
                </p>
              </div>
            </div>



            <div class="jumbotron jumbotron-fluid">
              <div class="container">
                <h1 class="display-4">Account Types
    
                </h1>
                <p class="lead">
                  Upstox offers two different type of trading account to suite investors/traders need:

    
                </p>
                <hr class="my-4">
                <!-- <p class="lead">Securities Transaction Tax (STT)</p> -->
               
              <!-- list item -->
              <h4 class="sub-header">
                <!-- <i class="fa fa-shield mr-2 fa-flip-horizontal"></i> -->
                Upstox Basic Plan
              </h4>
              <p class="lead">
                Brokerage Free equity delivey and Rs 20 per trade for Equity F&O, Commodity and Currency
                 The plan offers basic trading features in Equity Delivery segment through mobile and website. Upstock doesn't change any brokerage for trading in Equity Delivery segment.
                  Upstox basic plan offers upto 20x leverage on Cash segment.
              </p>
              <!-- list item ends -->
              <!-- list item -->
              <h4 class="sub-header">
                <!-- <i class="fa fa-shield mr-2 fa-flip-horizontal"></i> -->
                Upstox Priority Pack</h4>
              <p class="lead">
                Rs 0 equity delivey brokerage and flat Rs 30 per trade for Equity F&O, Commodity and Currency
                Upstox Pro is the trading platform for frequent traders; who trade in Indra-day and F&O segments. This plan offers upto 25x leverage on Cash segment.
                Along with the standard features offered in Upstox Basic Plan, Upstox Pro offers stock search, analyze, trade, and monitor stocks, currencies, F&O, and commodities.
                Upstox Pro provides advance charting for professional traders for technical analysis. It also offers wide range of indicators, chart types, data rich user interface.
              </p>
              <!-- list item ends -->
             
              </div>
            </div>
    
  <!-- sub section -->
  <h3 class="sub-header">Upstox Trading Plans Comparison</h3>
  <!-- <p class="sub-header-content">
    Zerodha account opening charges are Rs 200 for online account opening. If you choose to open an account offline, you will be charged Rs 400. The demat account AMC is Rs 300 per year.
  </p> -->
<hr>
  <table class="table mt-5 mb-5 text-center">
    <thead>
      <tr>
        <th scope="col">Segment</th>
        <th scope="col">Upstox Basic Plan</th>
        <th scope="col">Upstox Priority Pack</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Brokerage - Equity Delivery	</td>
        <td> {{tradingPlansComparisonObject?.brokerage_equity_delivery?.upstox_basic_plan}}</td>
        <td> {{tradingPlansComparisonObject?.brokerage_equity_delivery?.upstox_priority_pack}} </td>
      </tr>
      <tr>
        <td>Brokerage - F&O, Commodity, Currency</td>
        <td> {{tradingPlansComparisonObject?.brokerage_fo_commodity_currency?.upstox_basic_plan}}</td>
        <td> {{tradingPlansComparisonObject?.brokerage_fo_commodity_currency?.upstox_priority_pack}} </td>
      </tr>
      
      <tr>
        <td>
          <b>Margin - Intraday</b>
        </td>
        <td>

        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td>NSE/BSE Cash</td>
        <td> {{tradingPlansComparisonObject?.margin_intraday?.nse_bse_cash?.upstox_basic_plan}}</td>
        <td> {{tradingPlansComparisonObject?.margin_intraday?.nse_bse_cash?.upstox_priority_pack}} </td>
      </tr>
      <tr>
        <td>Index Futures	</td>
        <td> {{tradingPlansComparisonObject?.margin_intraday?.index_futures?.upstox_basic_plan}}</td>
        <td> {{tradingPlansComparisonObject?.margin_intraday?.index_futures?.upstox_priority_pack}} </td>
      </tr>
      <tr>
        <td>Stock Futures	</td>
        <td> {{tradingPlansComparisonObject?.margin_intraday?.stock_futures?.upstox_basic_plan}}</td>
        <td> {{tradingPlansComparisonObject?.margin_intraday?.stock_futures?.upstox_priority_pack}} </td>
      </tr>
      <tr>
        <td>Index Option Sell		</td>
        <td> {{tradingPlansComparisonObject?.margin_intraday?.index_option_sell?.upstox_basic_plan}}</td>
        <td> {{tradingPlansComparisonObject?.margin_intraday?.index_option_sell?.upstox_priority_pack}} </td>
      </tr>
      <tr>
        <td>Stock Option Sell	</td>
        <td> {{tradingPlansComparisonObject?.margin_intraday?.stock_option_sell?.upstox_basic_plan}}</td>
        <td> {{tradingPlansComparisonObject?.margin_intraday?.stock_option_sell?.upstox_priority_pack}} </td>
      </tr>
      <tr>
        <td>NSE Currency	</td>
        <td> {{tradingPlansComparisonObject?.margin_intraday?.nse_currency?.upstox_basic_plan}}</td>
        <td> {{tradingPlansComparisonObject?.margin_intraday?.nse_currency?.upstox_priority_pack}} </td>
      </tr>
      <tr>
        <td>MCX Future	</td>
        <td> {{tradingPlansComparisonObject?.margin_intraday?.mcx_future?.upstox_basic_plan}}</td>
        <td> {{tradingPlansComparisonObject?.margin_intraday?.mcx_future?.upstox_priority_pack}} </td>
      </tr>

      <tr>
        <td>
          <b>Margin - CO/OCO Orders
          </b>
        </td>
        <td>

        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td>NSE/BSE Cash		</td>
        <td> {{tradingPlansComparisonObject?.margin_co_oco_orders?.nse_bse_cash?.upstox_basic_plan}}</td>
        <td> {{tradingPlansComparisonObject?.margin_co_oco_orders?.nse_bse_cash?.upstox_priority_pack}} </td>
      </tr>
      <tr>
        <td>Index Futures			</td>
        <td> {{tradingPlansComparisonObject?.margin_co_oco_orders?.index_futures?.upstox_basic_plan}}</td>
        <td> {{tradingPlansComparisonObject?.margin_co_oco_orders?.index_futures?.upstox_priority_pack}} </td>
      </tr>
      <tr>
        <td>Stock Futures </td>
        <td> {{tradingPlansComparisonObject?.margin_co_oco_orders?.stock_futures?.upstox_basic_plan}}</td>
        <td> {{tradingPlansComparisonObject?.margin_co_oco_orders?.stock_futures?.upstox_priority_pack}} </td>
      </tr>
      <tr>
        <td>NSE Option Buy	 </td>
        <td> {{tradingPlansComparisonObject?.margin_co_oco_orders?.nse_option_buy?.upstox_basic_plan}}</td>
        <td> {{tradingPlansComparisonObject?.margin_co_oco_orders?.nse_option_buy?.upstox_priority_pack}} </td>
      </tr>
      <tr>
        <td>Index Option Sell		 </td>
        <td> {{tradingPlansComparisonObject?.margin_co_oco_orders?.index_option_sell?.upstox_basic_plan}}</td>
        <td> {{tradingPlansComparisonObject?.margin_co_oco_orders?.index_option_sell?.upstox_priority_pack}} </td>
      </tr>
      <tr>
        <td>Stock Option Sell		 </td>
        <td> {{tradingPlansComparisonObject?.margin_co_oco_orders?.stock_option_sell?.upstox_basic_plan}}</td>
        <td> {{tradingPlansComparisonObject?.margin_co_oco_orders?.stock_option_sell?.upstox_priority_pack}} </td>
      </tr>
      <tr>
        <td>NSE Currency</td>
        <td> {{tradingPlansComparisonObject?.margin_co_oco_orders?.nse_currency?.upstox_basic_plan}}</td>
        <td> {{tradingPlansComparisonObject?.margin_co_oco_orders?.nse_currency?.upstox_priority_pack}} </td>
      </tr>
      <tr>
        <td>MCX Future</td>
        <td> {{tradingPlansComparisonObject?.margin_co_oco_orders?.mcx_future?.upstox_basic_plan}}</td>
        <td> {{tradingPlansComparisonObject?.margin_co_oco_orders?.mcx_future?.upstox_priority_pack}} </td>
      </tr>
    </tbody>
  </table>
  <!-- sub section ends -->


  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <!-- <h1 class="display-4">Upstox Charges 2021
  
      </h1> -->
      <h3 class="sub-header">Upstox Charges 2021</h3>

      <hr class="my-4">
      <!-- <p class="lead">Securities Transaction Tax (STT)</p> -->
     
    <!-- list item -->
    <h4 class="sub-header">Upstox Account Opening Charges</h4>
    <p class="lead">Rs {{companyBasicDetailsObject?.charges?.account_opening_charges}}</p>
    <!-- list item ends -->
    <!-- list item -->
    <h4 class="sub-header">Upstox Demat AMC</h4>
    <p class="lead">Rs {{companyBasicDetailsObject?.charges?.demat_amc}} per year (paid monthly)</p>
    <!-- list item ends -->
   
    </div>
  </div>



  <!-- sub section -->
  <h3 class="sub-header">Upstox Prepaid Brokerage Plans (Rs 249, Rs 499 or Rs 999)</h3>
  <hr>
  <p class="sub-header-content">
    Every upstox customer needs to buy one of the following prepaid brokerage plans to open Upstox account. It is mandatory to buy a prepaid brokerage plan with upstox. This plan is also compulsory for people who would like to do only equity delivery trades which are brokerage free.
  </p>

  <table class="table mt-5 mb-5 text-center">
    <thead>
      <tr>
        <th scope="col">Plan</th>
        <th scope="col">Customer Pays</th>
        <th scope="col">Customer gets brokerage worth</th>
        <th scope="col">Extra brokerage earned</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Standard Plan		</td>
        <td> {{companyBasicDetailsObject?.prepaid_brokerage_plans?.standard_plan?.customer_pays}}</td>
        <td> {{companyBasicDetailsObject?.prepaid_brokerage_plans?.standard_plan?.customer_gets_brokerage_worth}} </td>
        <td> {{companyBasicDetailsObject?.prepaid_brokerage_plans?.standard_plan?.extra_brokerage_earned}} </td>

      </tr>
      <tr>
        <td>Advanced Plan	</td>
        <td> {{companyBasicDetailsObject?.prepaid_brokerage_plans?.advanced_plan?.customer_pays}}</td>
        <td> {{companyBasicDetailsObject?.prepaid_brokerage_plans?.advanced_plan?.customer_gets_brokerage_worth}} </td>
        <td> {{companyBasicDetailsObject?.prepaid_brokerage_plans?.advanced_plan?.extra_brokerage_earned}} </td>

      </tr>
      
      <tr>
        <td>Premium Plan	</td>
        <td> {{companyBasicDetailsObject?.prepaid_brokerage_plans?.premium_plan?.customer_pays}}</td>
        <td> {{companyBasicDetailsObject?.prepaid_brokerage_plans?.premium_plan?.customer_gets_brokerage_worth}} </td>
        <td> {{companyBasicDetailsObject?.prepaid_brokerage_plans?.premium_plan?.extra_brokerage_earned}} </td>

      </tr>
    </tbody>
  </table>

  <p class="sub-header-content">
    Note: The amount that the customer pays (Rs 249, Rs 499 and Rs 999*) has a validity period of 2 years from the date of payment.
  </p>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      
      <h3 class="sub-header">Zerodha Hidden Charges</h3>
  <hr>
  <p class="sub-header-content">
    The amount that the customer receives (Rs 151, Rs 501 and Rs 1501) will have the following validity:
  </p>
      <!-- <p class="lead">Securities Transaction Tax (STT)</p> -->
     
    <!-- list item -->
    <p class="lead" >
      <i class="fa fa-superpowers mr-2" aria-hidden="true"></i> Rs 151- 30 days from the date of payment
    </p>
    <!-- list item ends -->
    <!-- list item -->
    <p class="lead" >
      <i class="fa fa-superpowers mr-2" aria-hidden="true"></i> Rs 499- 45 days from the date of payment.
    </p>
    <!-- list item ends -->
    <!-- list item -->
    <p class="lead" >
      <i class="fa fa-superpowers mr-2" aria-hidden="true"></i>Rs 1501- 60 days from the date of payment
    </p>
    <!-- list item ends -->
    <p class="">*18% GST will be levied on the amount on the prepaid brokerage.</p>

    </div>
  </div>

  <!-- sub section ends -->



      </div>
      <div class="col-md-3">
        <div class="card mt-5" style="width: 18rem;border: 2px solid #333958;">
          <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
          <div class="card-body">
            <h5 class="card-title">Get 30 Days Unlimited Trading</h5>
            <hr>
            <p class="card-text">Join over 20 lakh traders. Open an account and get 30 days unlimited brokerage credit. Trade in Intra-day and F&O Trades at flat Rs 20 per order.</p>
            <a href="#" class="btn btn-primary">Request callback</a>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- review body -->



