.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn.btn-md {
    /* padding: .7rem 1.6rem;
    font-size: .5rem; */
    padding: .5rem 1.5rem;
    font-size: 10px;
    border-radius: 20px;
}


a.waves-effect, a.waves-light {
    display: inline-block;
    color: white;
}
.btn-danger {
    color: #fff;
    background-color: #333958 !important;
}
.btn {
    margin: .375rem;
    color: inherit;
    text-transform: uppercase;
    word-wrap: break-word;
    white-space: normal;
    cursor: pointer;
    border: 0;
    border-radius: .125rem;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    padding: .84rem 2.14rem;
    font-size: .81rem;
}
.waves-effect {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

table thead {
    background: #1c2a48 !important;
    color: white;
}
table thead tr {
    font-size: 12px;
    font-family: monospace;
    line-height: 1.3;
    background-color: #333958;
}
.table thead th {
    vertical-align: bottom;
    /* border-bottom: 2px solid #dee2e6; */
    border-bottom: none !important;
}
tbody tr td {
    /* color: white; */
    /* color: white; */
    color: #333958;
}
.table-dark.table-striped tbody tr:nth-of-type(odd) {
    background-color: white;
    border-bottom: 1px solid gainsboro;
}

.lead {
    /* color: #333958; */
    color:#222223;

}
.lead2 {
    font-size: 18px;
    font-weight: 100;
    font-family: fangsong;
    color: #333958;
}
/* compare broker start */

input:hover {
    border: 2px solid #333958;
}
.submit-button {
    /* margin-top: 2rem; */
    height: 38px;
    /* font-size: x-small; */
    color: black;
    /* background:#333958; */
    /* color: white; */
    background: white;
    color: #333958;
    
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid #333958;
}
.submit-button:hover {
   
    box-shadow: none;
    background: #333958;
    color: white;
}
label {
    font-weight: 600;
    color: #333958;
}
.jumbotron {
    color: #333958;
    background: white;
}
h1 {
    font-size: 34px;
}
.display-4 {
    font-weight: 400;
}
.faqCards {
    /* background:  #333958; */
    background: none;
    border: none;

}
.faqCards:hover {
    /* background:  #333958; */
/* background: #ffffdd; */

}
.faq {
    text-decoration: none;
    color: #333958;
    transition: .5s;
    /* font-size: 15px; */
    border: none;
    /* font-weight: 600; */
    font-size: 1.25rem;
    font-weight: 600;
}
.faq:hover {
    /* color: white; */
    /* font-size: 18px; */
font-weight: 600;
transition: .3s;
}
.note-pad {
    
}

.note-pad:hover {
    /* border-top: 4px solid  #333958; */
    /* transition: .5s; */
}

.note-pad-div {
    background: #333958;
}
.btn-primary {
    background: #333958;
    color: white;
}

.col-md-9{
    /* background: #fbfbea; */
}
.jumbotron , table {
    background: white !important;
}