<div class="row">

    <div class="col-md-6">
        <div class="card" >
            <div class="card-body">
              <h5 class="card-title">Online Disocunt Broker Reviews 2020</h5>
              <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a> -->
              <table class="table text-center">
                <thead>
                  <tr>
                    <th scope="col">Broker</th>
                    <th scope="col">Brokerage</th>
                    <th scope="col">Account Opening</th>
                    
        
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Zerodha</td>
                    <td>Rs 20 Per Trade</td>
                    <td>Rs 200</td>
                   
                  </tr>
                  
                </tbody>
              </table>
              <a href="#" class="card-link text-right">Top 10 discount brokers</a>
            </div>
            
          </div>
    </div>
    <div class="col-md-6">
        <div class="card" >
            <div class="card-body">
              <h5 class="card-title">Full-service Broker in India 2020</h5>
              <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a> -->
              <table class="table text-center">
                <thead>
                  <tr>
                    <th scope="col">Broker</th>
                    <th scope="col">Brokerage</th>
                    <th scope="col">Account Opening</th>
                    
        
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>ICICI Direct</td>
                    <td>Rs 0</td>
                    <td>Rs 700</td>
                   
                  </tr>
                  
                </tbody>
              </table>
              <a href="#" class="card-link text-right">Top 10 full service brokers</a>
            </div>
          </div>
    </div>
    
</div>
