 <!-- Buttons -->
 <div class="row mr-0">
   
    <div class="col-md-12" >
        <!-- <a href="" class="btn btn-danger btn-md waves-effect waves-light">{{companyName}} Review</a> -->
        <a href="" class="btn btn-danger " routerLink="/review/zerodha" routerLinkActive="active">Zerodha</a>
        <a href="" class="btn btn-danger " routerLink="/review/upstox" routerLinkActive="active">Upstox</a>
        <a href="" class="btn btn-danger " routerLink="/review/five-paisa" routerLinkActive="active">5Paisa</a>
        <a href="" class="btn btn-danger " routerLink="/review/edelweiss" routerLinkActive="active">Edelweiss</a>
        <a href="" class="btn btn-danger " routerLink="/review/paytm-money" routerLinkActive="active">Paytm Money</a>
        <a href="" class="btn btn-danger " routerLink="/review/gcl-sec" routerLinkActive="active">GCL Sec</a>
        <a href="" class="btn btn-danger " routerLink="/review/iifl-securities" routerLinkActive="active">IIFL Securities</a>
        <a href="" class="btn btn-danger " routerLink="/review/share-khan" routerLinkActive="active">Sharekhan</a>
        <a href="" class="btn btn-danger " routerLink="/review/choice-broking" routerLinkActive="active">Choice Broking</a>
        <a href="" class="btn btn-danger " routerLink="/review/groww" routerLinkActive="active">Groww</a>
        <a href="" class="btn btn-danger " routerLink="/review/trade-plus" routerLinkActive="active">Trade Plus</a>

        <!-- <a href="" class="btn btn-danger btn-md waves-effect waves-light">BROKERAGE</a> -->
       
    </div>
    <div class="col-md-12" >
        <!-- <a href="" class="btn btn-danger btn-md waves-effect waves-light">{{companyName}} Review</a> -->
        <a href="" class="btn btn-danger " routerLink="/review/angel-broking" routerLinkActive="active">Angel Broking</a>
        <a href="" class="btn btn-danger " routerLink="/review/icici-direct" routerLinkActive="active">ICICI Direct</a>
        <a href="" class="btn btn-danger " routerLink="/review/hdfc-securities" routerLinkActive="active">HDFC Securities</a>
        <a href="" class="btn btn-danger " routerLink="/review/sbi-capital" routerLinkActive="active">SBI Capital</a>
        <a href="" class="btn btn-danger " routerLink="/review/axis-direct" routerLinkActive="active">Axis Direct</a>
        <a href="" class="btn btn-danger " routerLink="/review/kotak-securities" routerLinkActive="active">Kotak Securities</a>
        <a href="" class="btn btn-danger " routerLink="/review/prostocks" routerLinkActive="active">ProStocks</a>
        <a href="" class="btn btn-danger " routerLink="/review/trade-smart" routerLinkActive="active">TradeSmart</a>
        <a href="" class="btn btn-danger "routerLink="/review/fyers" routerLinkActive="active">Fyers</a>
        <a href="" class="btn btn-danger "routerLink="/review/alice-blue" routerLinkActive="active">Alice Blue</a>
        <a href="" class="btn btn-danger "routerLink="/review/sas-online" routerLinkActive="active">SAS Online</a>

        <!-- <a href="" class="btn btn-danger btn-md waves-effect waves-light">BROKERAGE</a> -->
       
    </div>
    
  </div>
