

  <div class="container-fluid " >
    <div class=" p-5 shadow-sm  p-3" style="background: white; min-height: 120px;margin-top: 120px;border: 1px solid gainsboro">
    
        <div class="row">
            <div class="col-md-3">
                <h4 class="sub-header">
                    Best Discount Broker in India
                  </h4>
                  <hr>
                  <p class="footer-text">
                    Upstox (₹20 per Trade)
                  </p>
                  <p class="footer-text">
                    Edelweiss (₹10 per Trade)
                  </p>
                  <p class="footer-text">
                      5Paisa (₹20 per Trade)
                    </p>
                    <p class="footer-text">
                      Fyers (₹20 per Trade)
                    </p>
                    <p class="footer-text">
                      ProStocks (₹899 Unlimited)
                    </p>
            </div>
            <div class="col-md-3">
                <h4 class="sub-header">
                    Best Full-Service Brokers in India
                  </h4>
                  <hr>
                  <p class="footer-text">
                    ICICI Direct
                  </p>
                  <p class="footer-text">
                    Sharekhan
                  </p>
                  <p class="footer-text">
                      Edelweiss
                    </p>
                    <p class="footer-text">
                      IIFL Securities
                    </p>
                    <p class="footer-text">
                      Motilal Oswal
                    </p>
                    <p class="footer-text">
                        Angel Broking
                      </p>
            </div>
            <div class="col-md-3">
                <h4 class="sub-header">
                    Unlimited Monthly Trading Plans
                  </h4>
                  <hr>
                  <p class="footer-text">
                    Prostocks (₹899 Unlimited)
                  </p>
                  <p class="footer-text">
                    SAS Online (₹999 Unlimited)
                  </p>
                  <p class="footer-text">
                    Tradeplus
                  </p>
            </div>
            <div class="col-md-3">
                <h4 class="sub-header">
                    Compare Share Broker in India
                  </h4>
                  <hr>
                  <p class="footer-text">
                    Zerodha Vs Upstox
                  </p>
                  <p class="footer-text">
                    Edelweiss Vs Zerodha
                  </p>
                  <p class="footer-text">
                    Sharekhan Vs Angel
                  </p>
                  <p class="footer-text">
                    ICICI Direct Vs HDFC Sec
                  </p>
                  <p class="footer-text">
                    Zerodha Vs 5Paisa
                  </p>
                  <p class="footer-text">
                    Zerodha Vs ProStocks
                  </p>
            </div>
        </div>
    
</div>
<div class="   p-5" style="background: #333958; min-height: 60px;">

    <div class="row ">
      <div class="col-3" style="color: white;">
       

      </div>
      <div class="col-6 text-center">
           <p class="footer-text" style="color: beige;">© 2021 StockInfo Tech. Pvt Ltd. All Rights Reserved. | Disclaimer and Privacy Statement</p>
      </div>
      <div class="col-3">
        <p>
          <!-- <a href="" class="btn btn-danger btn-md waves-effect waves-light">Margin Calculator</a> -->
        </p>
      </div>
    </div>
  
  </div>

  </div>