<app-stock-header></app-stock-header>

<!-- <app-compare-broker-stock-market></app-compare-broker-stock-market> -->
<app-compare-broker></app-compare-broker>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <button (click) = "setCompareBrokerData()">set brokers data</button>

                  <!-- subsection start -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Stock Message Board - Share Stock Tips and Reviews

           
      </h1>
      <p class="lead2">
        Stock market discussion forum offers platform to discuss stock market in India. Share tips, knowledge, research or simply ask questions to fellow members of this forum, get expert advices, learn stock market basics and much more. Members are advised not to use this forum for advertizing products or services.

      </p>
      
      
    </div>
  </div>
  <!-- subsection ends -->

        </div>
        <div class="col-md-3">

            <div class="card ">
                <app-more-discount-brokers></app-more-discount-brokers>
            </div>
            <br>
            <div class="card ">
                <app-more-service-brokers></app-more-service-brokers>
            </div>
            <br>
            <div class="card">
                <!-- <div class="card-header text-center">
                    <p class="sub-header" style="color: #333958;">
                        Short Links
                    </p>
                </div> -->
                <div class="card-body">
                    <app-short-links></app-short-links>

                    <!-- <app-short-links-stock-market></app-short-links-stock-market> -->
                </div>
            </div>

            <app-special-offers></app-special-offers>

        </div>
    </div>
</div>

  
<br><br><br><br>
