 <!-- Buttons -->
 <div class="row mr-0">
   
    <div class="col-md-12" >
        <!-- <a href="" class="btn btn-danger btn-md waves-effect waves-light">{{companyName}} Review</a> -->
        <a href="" class="btn btn-danger ">Zerodha</a>
        <a href="" class="btn btn-danger ">Upstox</a>
        <a href="" class="btn btn-danger ">5Paisa</a>
        <a href="" class="btn btn-danger ">Edelweiss</a>
        <a href="" class="btn btn-danger ">Paytm Money</a>
        <a href="" class="btn btn-danger ">GCL Sec</a>
        <a href="" class="btn btn-danger ">IIFL Securities</a>
        <a href="" class="btn btn-danger ">Sharekhan</a>
        <a href="" class="btn btn-danger ">Choice Broking</a>
        <a href="" class="btn btn-danger ">Groww</a>
        <a href="" class="btn btn-danger ">Trade Plus</a>

        <!-- <a href="" class="btn btn-danger btn-md waves-effect waves-light">BROKERAGE</a> -->
       
    </div>
    <div class="col-md-12" >
        <!-- <a href="" class="btn btn-danger btn-md waves-effect waves-light">{{companyName}} Review</a> -->
        <a href="" class="btn btn-danger ">Angel Broking</a>
        <a href="" class="btn btn-danger ">ICICI Direct</a>
        <a href="" class="btn btn-danger ">HDFC Securities</a>
        <a href="" class="btn btn-danger ">SBI Capital</a>
        <a href="" class="btn btn-danger ">Axis Direct</a>
        <a href="" class="btn btn-danger ">Kotak Securities</a>
        <a href="" class="btn btn-danger ">ProStocks</a>
        <a href="" class="btn btn-danger ">TradeSmart</a>
        <a href="" class="btn btn-danger ">Fyers</a>
        <a href="" class="btn btn-danger ">Alice Blue</a>
        <a href="" class="btn btn-danger ">SAS Online</a>

        <!-- <a href="" class="btn btn-danger btn-md waves-effect waves-light">BROKERAGE</a> -->
       
    </div>
    
  </div>
