<!-- Buttons -->
<app-company-header [companyName] = "companyName"></app-company-header>

<!-- compare broker -->
<app-compare-broker></app-compare-broker>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h1 class="display-4">{{companyName}} Stock Trading / Demat / Brokerage / Reviews 2021
                  </h1>
                  <hr class="my-4">
                  <p class="lead">
                    Incorporated in 1994, SMC Global Limited is a leading financial services company in India offering services across brokerage, investment banking and wealth management.

                    SMC Global has a presense in India as well as internationally through offices in Dubai. They have huge network of 50+ branches and 2,400 registered sub-brokers and authorized persons with a PAN-India presence.
                    
                    SMC's Online Trading portal is one stop financial investment portal of SMC Global Ltd. They offers online trading in Equities, Derivatives, Currency, Commodities, IPOs, Mutual Funds and Bonds, etc.
                  </p>
                  <p class="lead">
                    <b>SMC Global Trades In</b>: NSE, BSE, MCX, NCDEX and MCX-SX


                  </p>
                
                <br>
                  
                </div>
                
            </div>

            <br><br><br><br>
            <div class="container-fluid">
                <h4 class="display-4">
                    SMC Global Trading Software (SMC Global Trading Platforms)

                </h4>
                <hr>
                <p class="lead">
                    SMC Global offers different trading platforms to its customers:

                </p>
                <br>

                <h4 class="sub-header">
                    Browser based

                </h4>
                <p class="lead">
                    SMC Global offeres two browser based trading platform to their customers
                </p>
<br>
                <h4 class="sub-header">
                    <i class="fa fa-check-square-o mr-2"></i>
                    Select
                </h4>

                <p class="lead">
                    This is a simple platform and most suitable for occasional traders. It's very economical and best for new investors. It does not require any software to be installed. Investor can trade on different exchanges using single platform. Also it offers services to invest in IPO and mutual funds.
                </p>

                <br>
                <h4 class="sub-header">
                    <i class="fa fa-check-square-o mr-2"></i>
                    Exclusive
                </h4>

                <p class="lead">
                    This trading platform ideal for active traders who trades frequently during day’s trading session. This platform is also browser based and does not require and software to be installed. Thay have all the features which are available in Select platform, also this paltform has real time streaming quotes facility on browser interface.

                </p>
<!--  -->
                <br>

                <h4 class="sub-header">
                    Software based

                </h4>
                <p class="lead">
                    SMC Global also offeres software based trading platform to their customers

                </p>

                <br>
                <h4 class="sub-header">
                    <i class="fa fa-check-square-o mr-2"></i>
                    SMC Privilege

                </h4>

                <p class="lead">
                    SMC Privilege platform is an application based privileged online trading product. This is best for actively involved investors in the stock market who does the bulk trading. Similar to broker terminal, they offers comprehensive facilities on a single screen. In this platform trading terminal is available on your own desktop so investor gets the greater ease and time advantage.

                </p>

                <!--  -->
                <br>

                <h4 class="sub-header">
                    Mobile based


                </h4>
                <p class="lead">
                    SMC Global gives mobile trading to their investors. Using Mobile trading it's easy for investors to keep close eye on market as well as trade. Mobile based platforms are best for those investors who are on move most of the time. They just need to have 'Advance GPRS' activated on their mobile. This platform allows their investors to access instantly and manage trades through mobile phones and tablets. They offeres two mobile based trading platform to their customers.

                </p>

                <br>
                <h4 class="sub-header">
                    <i class="fa fa-check-square-o mr-2"></i>
                    Mobitrade

                </h4>

                <p class="lead">
                    This is very easy and user friendly interface. This platform offers to trade in Equities and Commodities using handheld mobile devices. SMC Mobitrade provides real time access to market information like Security Info, Contract info and Best Five. Also investor can stay connected with the stock markets on a real time basis from anywhere. Currently it supports 750+ mobile handsets. SMC mobitrade is available in two modes, Lite which is refresh based and Streaming which provides streaming quotes. SMC mobitrade is available on BSE, MCX Commodity & NCDEX.


                </p>
                <br>
                <h4 class="sub-header">
                    <i class="fa fa-check-square-o mr-2"></i>
                    Tabtrade

                </h4>

                <p class="lead">
                    This platform offers to trade in Equities and Commodities using iPad or android based tablet. SMC Tabtrade ia available on Trade in NSE Cash, NSE F&O, BSE Cash, BSE F&O, MCX, NCDEX & NSE Currency. They also have SMC Tabtrade Easy, a browser based platform, with real time fund transfer facility which is also designed specially for iPad and android based tablets. SMC Tabtrade Easy platform is best viewed and supported on browsers like Safari, Fire Fox Mozilla & Google Chrome.

                </p>
                <!--  -->


            </div>


            <br><br><br><br>

            <!-- subection start -->
            <div class="container-fluid">
             <h4 class="display-4">
                SMC Global Pros and Cons



            </h4>
             <hr>
            
           
             <h4 class="sub-header">
                SMC Global Pros (Advantages)

             </h4>
             <p class="lead">
                The following are the advantages of SMC Global. You must read SMC Global advantages and disadvantages before opening an account with SMC Global. SMC Global pros and cons help you find if it suits your investment needs.
          </p>

             
             <p class="lead">
               <i class="fa fa-check-square-o mr-2"></i>
               They have 50+ branches for extensive reach.
            </p>
             
             <p class="lead">
               <i class="fa fa-check-square-o mr-2"></i>
               Call and trade facility is also available.
            </p>
             <p class="lead">
               <i class="fa fa-check-square-o mr-2"></i>

               Clients can place AMO (After Market Orders) and BTST (Buy Today Sell tomorrow) orders.
            </p>
             <p class="lead">
               <i class="fa fa-check-square-o mr-2"></i>

               Investment online in IPOs, Mutual Funds, GOI Bonds all from one website. General Insurance is also available.
            </p>
           <p class="lead">
               <i class="fa fa-check-square-o mr-2"></i>

               Trading is available in both BSE and NSE.
            </p>
           <p class="lead">
               <i class="fa fa-check-square-o mr-2"></i>

               Low bandwidth website is available for slow internet connection or for trading from mobile devices.
            </p>
           

<br><br>

               <h4 class="sub-header">
                SMC Global Cons (Disadvantages)

               </h4>
               <p class="lead">
                The following are the cons of SMC Global. Check the list of SMC Global drawbacks.

            </p>               
               <p class="lead">
                 <i class="fa fa-check-square-o mr-2"></i>
                 Mobile trading on NSE is not available.
                </p>
               <p class="lead">
                 <i class="fa fa-check-square-o mr-2"></i>
                 They don't offer 3 in 1 account.
                </p>
               <p class="lead">
                 <i class="fa fa-check-square-o mr-2"></i>
                 There charge extra for their featured products.
                </p>
               <p class="lead">
                 <i class="fa fa-check-square-o mr-2"></i>
                 Good Till Cancelled (GTC) and Good Till Date/Time (GTD) Orders are not available in equity segment.
                </p>
                
                
              
           </div>
           <!-- subsection ends -->

           <br><br><br><br>
           <!-- subsection start -->
<div class="container-fluid">
<h3 class="sub-header">SMC Global Margin / Exposure
</h3>
<hr>
<p class="sub-header-content">
    SMC Global leverage for intraday, delivery, options, currency and commodities.
</p>

<table class="table mt-5 mb-5 text-center">
<thead>
<tr>
 <th scope="col">Segment	</th>
 <th scope="col">Margin		</th>
</tr>
</thead>
<tbody>
<tr>
 <td>Equity Delivery	</td>
 <td> {{companyData?.margin_exposure?.equity_delivery}}</td>

</tr>
<tr>
 <td>Equity Intraday		</td>
 <td> {{companyData?.margin_exposure?.equity_intraday}} </td>
</tr>

<tr>
 <td>Equity Future	</td>
 <td> {{companyData?.margin_exposure?.equity_futures}} </td>
</tr>

<tr>
<td>Equity Options		</td>
<td> {{companyData?.margin_exposure?.equity_options}} </td>
</tr>
<tr>
<td>Currency Future		</td>
<td> {{companyData?.margin_exposure?.currency_futures}}</td>
</tr>
<tr>
<td>Currency Options		</td>
<td> {{companyData?.margin_exposure?.currency_options}} </td>
</tr>
<tr>
<td>Commodity Future			</td>
<td> {{companyData?.margin_exposure?.commodity_futures}}</td>
</tr>
<tr>
<td>Commodity Options			</td>
<td> {{companyData?.margin_exposure?.commodity_options}}</td>
</tr>
</tbody>
</table>
</div>

<!-- subsection ends-->

<!-- sub section start-->
<div class="container-fluid newSubsection">
<h3 class="sub-header">{{companyName}} Ratings
</h3>
<hr>


<table class="table mt-5 mb-5 text-center">
<thead>
<tr>
 <th scope="col">Segment	</th>
 <th scope="col">Ratings		</th>
</tr>
</thead>
<tbody>
<tr>
 <td><b>Overall Rating</b>	</td>
 <td> {{companyData?.ratings?.overall_ratings}}</td>

</tr>
<tr>
 <td>Fees		</td>
 <td> {{companyData?.ratings?.fees}} </td>
</tr>

<tr>
 <td>Brokerage	</td>
 <td> {{companyData?.ratings?.brokerage}} </td>
</tr>

<tr>
<td>Usability		</td>
<td> {{companyData?.ratings?.usability}} </td>
</tr>
<tr>
<td>Customer Service		</td>
<td> {{companyData?.ratings?.customer_service}}</td>
</tr>
<tr>
<td>Research Capabilities		</td>
<td> {{companyData?.ratings?.research_capabilities}} </td>
</tr>

</tbody>
</table>

</div>

<!-- subsection ends -->

        </div>
        <div class="col-md-3">
            <app-company-page-scroll [companyScrollObject] = "companyScrollObject"></app-company-page-scroll>
            <app-special-offers></app-special-offers>
  
        </div>
    </div>
</div>
<app-footer [companyName]="companyName"></app-footer>