<!-- Buttons -->
<app-company-header [companyName] = "companyName"></app-company-header>

<!-- compare broker -->

<app-compare-broker></app-compare-broker>


  <div class="container-fluid"> 
    <div class="row">
        <div class="col-md-9">

            <!-- subsection start -->
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h1 class="display-4">{{companyName}} Stock Trading / Demat / Brokerage / Reviews 2021
                  </h1>
                  <hr class="my-4">
                  <p class="lead">
                    Angel Broking started its journey in 1987 and is one of the experienced broking companies in the country. The company offers its services through 16,308 trading terminals, 3500 employees spread across 98 branches, 17 regional hubs, and over 9000 registered sub-broker/business associates.

                    Angel Broking is a member of the Bombay Stock Exchange (BSE), National Stock Exchange (NSE) and NCDEX & MCX. It is also registered as a Depository Participant with CDSL.
                    
                    Angel's stockbroking house offering a gamut of services including stock trading, commodity trading, investment advisory, portfolio management services and wealth management services.                </p>
                  <br>
                  
                </div>
              </div>
              <!-- subsection ends -->



              <!-- subsection start -->
 <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <!-- <h1 class="display-4">Upstox Charges 2021
  
      </h1> -->
      <h3 class="sub-header">{{companyName}} Trading Platforms</h3>

      <hr class="my-4">
      <!-- <p class="lead">The 5paisa Trading Platform is built on IIFL's trading platform which is being used by many customers over last 2 decades. The trading platform of 5paisa is available on mobile app, browser (web) and install-able desktop trading application (Exe).</p> -->

     <!-- subsection start -->
      <!-- list item -->
      <h4 class="sub-header">Angel Broking Trade

      </h4>
      <p class="lead"> Angel Broking Trade is a browser based trading platform. Some of the key features of the platform are:
    </p>
      <!-- list item ends -->
      <br>
      <p class="lead"><i class="fa fa-check-square-o"></i>Automatic updates of all buy/sell transactions, portfolio watch, realised & unrealised gain/loss data, maintain contract notes, ledger etc., to help traders monitor their portfolio.

      </p>
      <p class="lead"><i class="fa fa-check-square-o"></i>Single platform to trade in multiple markets and in multiple instruments.

      </p>
     <p class="lead">
        <i class="fa fa-check-square-o"></i>Latest market information, live news, research reports, model portfolio and other useful trading tools.
     </p>
     <p class="lead"><i class="fa fa-check-square-o"></i>
        Instant notifications and alerts via SMS, email etc.     
    </p>
    <p class="lead"><i class="fa fa-check-square-o"></i>
        Stock screeners and advanced charting for deep trading analysis.     
    </p>
    
<br><br>
    <!-- section 2 -->
    <h4 class="sub-header">Angel SpeedPro

    </h4>
    <p class="lead">An online trading software for desktops and laptops. Traders can download the software and trade directly from it. Some of the key features of the software are
  </p>
    <!-- list item ends -->
    <br>
    <p class="lead"><i class="fa fa-check-square-o"></i>Advance charting with 30 days intraday and 20 years historical data with 70 + studies for advance technical analysis.
    </p>
    <p class="lead"><i class="fa fa-check-square-o"></i>Live streaming quotes
    </p>
   <p class="lead"><i class="fa fa-check-square-o"></i>
    Integrated portfolio view with daily and overall gain/loss at a glance
   </p>
   <p class="lead"><i class="fa fa-check-square-o"></i>
    Import live market data to your excel for analysis and decision making   
  </p>
  <p class="lead"><i class="fa fa-check-square-o"></i>
    Instant notification and alerts     
  </p>
  <p class="lead"><i class="fa fa-check-square-o"></i>
    One click installation and auto-updates    
  </p>
    <!-- section 2 ends -->
    <br><br>
    <!-- section 3 -->
    <h4 class="sub-header">Angel Broking App

    </h4>
    <p class="lead">The mobile trading app is available on Android and Apple iOS platforms. Some of the major features of the app are:
  </p>
    <!-- list item ends -->
    <br>
    <p class="lead"><i class="fa fa-check-square-o"></i>
        Live streaming prices and multiple watch lists
    </p>
    <p class="lead"><i class="fa fa-check-square-o"></i>
        ARQ - Personalized advisory

    </p>
   <p class="lead"><i class="fa fa-check-square-o"></i>
    Integrated portfolio view
</p>
   <p class="lead"><i class="fa fa-check-square-o"></i>
    Advanced charting with intraday charts and historical charts
</p>
  <p class="lead"><i class="fa fa-check-square-o"></i>
    Online Payment vide 40+ Banks
</p>
  <p class="lead"><i class="fa fa-check-square-o"></i>
    In-depth market reports, real-time news updates
</p>

<p class="lead"><i class="fa fa-check-square-o"></i>
    Research calls and reports.
</p>
<p class="lead"><i class="fa fa-check-square-o"></i>
    Analyze stocks with 40 technical chart indicators and overlays
</p>
<p class="lead"><i class="fa fa-check-square-o"></i>
    Personalized trade and new notifications
</p>
<p class="lead"><i class="fa fa-check-square-o"></i>
    Last 10 transactions for Ledger, DP and Funds

</p>
    <!-- section 3 ends -->


    </div>
 </div>
 <!-- subsection ends -->

<!-- subsection start -->
<!-- subsection start -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4" >{{companyName}} Charges 2021
    </h1>
      <!-- <p class="lead">
        5paisa Trading Account   
      </p> -->
      <hr class="my-4">
     
    <!-- list item -->
    <h4 class="sub-header">
        Angel Broking Options Brokerage Charges  
    </h4>
    <p class="lead">
        Angel offers 4 broking plans to traders. The plans are based on margin amount. Here's the margin money requirement for each plan:
    </p>
    <table class="table mt-5 mb-5 text-center">
        <thead>
          <tr>
              <th scope="col">Brokerage Plan
              </th>
            <th scope="col">Margin Amount required
            </th>
           
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Angel Classic</td>
            <td>{{companyData?.options_brokerage_charges?.angel_classic?.margin_amount}}</td>
          </tr>
          <tr>
            <td>Angel Preferred	 </td>
            <td>{{companyData?.options_brokerage_charges?.angel_preferred?.margin_amount}}</td>
          </tr>
          <tr>
            <td>Angel Premier </td>
            <td>{{companyData?.options_brokerage_charges?.angel_premier?.margin_amount}}</td>
          </tr>
          <tr>
            <td>Angel Elite </td>
            <td>{{companyData?.options_brokerage_charges?.angel_elite?.margin_amount}}</td>
          </tr>
         
          
        </tbody>
      </table>
    <!-- list item ends -->
  

       <!-- list item -->
       <h4 class="sub-header">
        Angel Broking Charges For Options
    </h4>
    <!-- <p class="lead">
        Angel offers 4 broking plans to traders. The plans are based on margin amount. Here's the margin money requirement for each plan:
    </p> -->
    <table class="table mt-5 mb-5 text-center">
        <thead>
          <tr>
            <th scope="col">Brokerage/Plans
            </th>
            <th scope="col">Classic
            </th>
            <th scope="col">Preferred
            </th>
            <th scope="col">Premiere
            </th>
            <th scope="col">Elite
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Nifty Options</td>
            <td>{{companyData?.options_charges?.nifty?.classic}}</td>
            <td>{{companyData?.options_charges?.nifty?.preferred}}</td>
            <td>{{companyData?.options_charges?.nifty?.premier}}</td>
            <td>{{companyData?.options_charges?.nifty?.elite}}</td>

          </tr>
          <tr>
            <td>Other Options </td>
            <td>{{companyData?.options_charges?.other?.classic}}</td>
            <td>{{companyData?.options_charges?.other?.preferred}}</td>
            <td>{{companyData?.options_charges?.other?.premier}}</td>
            <td>{{companyData?.options_charges?.other?.elite}}</td>
          </tr>
          <tr>
            <td>Currency Options </td>
            <td>{{companyData?.options_charges?.currency?.classic}}</td>
            <td>{{companyData?.options_charges?.currency?.preferred}}</td>
            <td>{{companyData?.options_charges?.currency?.premier}}</td>
            <td>{{companyData?.options_charges?.currency?.elite}}</td>
          </tr>
          
         
          
        </tbody>
      </table>
    <!-- list item ends -->
  

    </div>
  </div>
  <!-- subsection ends -->





        </div>
        <div class="col-md-3">
            <app-company-page-scroll [companyScrollObject] = "companyScrollObject"></app-company-page-scroll>
            <app-special-offers></app-special-offers>

        </div>
    </div>
    <app-compare-broker-list [companyName]="companyName" [companyUrl] = "'angel-broking'"></app-compare-broker-list>