   <!-- footer cards -->

<!-- <hr class="my-4"> -->
<div class="container pt-3 note-pad" >
    
    <h1 class="display-4 text-center m-5" style="color:  #333958;">
      <i class="fa fa-code-fork mr-2" aria-hidden="true"></i> Compare {{companyName}} with Top Brokers in India
    
    </h1>
    <hr class="my-4">
    <!-- <hr class=""> -->
      <div class="row mx-auto m-1 text-center ">
        <div class="col-md-4" *ngFor = "let broker of brokerList?.brokers">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">{{companyName}} Vs {{broker.company_name}}</a>

            </div>
          </div>
          
        </div>
        
      </div>
      



  </div>
  <!-- footer cards -->