<div class="container-fluid mt-5 p-3 mb-5">
    <div class="row mt-2">
      <div class="row mx-auto">
        <div class="col-md-4">
          <!-- <label for="">First Broker</label> -->
          <!-- <input type="text" placeholder="" [(ngModel)]="broker1"  class="form-control"> -->
          
            <input type="text"  name="guest2" [(ngModel)]="broker1" list="myList" class="form-control">
           
             <datalist id=myList >
               <option *ngFor="let data of allCompanies" [ngValue]="data">
                 {{data.companyName}}</option>
             </datalist>
           


      </div>
          <div class="col-md-4">
              <!-- <label for="">Second Broker</label> -->
              <!-- <input type="text" placeholder="" [(ngModel)]="broker2"  class="form-control"> -->
              <input type="text"  name="guest" [(ngModel)]="broker2" list="optionss" class="form-control">
           
              <datalist id=optionss >
                <option *ngFor="let data of allCompanies" [ngValue]="data">
                  {{data.companyName}}</option>
              </datalist>
          </div>
          
          
          
          <div class="col-md-4">
              <button type="submit" (click) = "submitCompareForm()"  class=" submit-button "><b>Compare Brokers</b></button>
  
          </div>
      </div>
    </div>
  </div>

  