      
<app-company-header [companyName] = "companyName"></app-company-header>
  
<app-compare-broker></app-compare-broker>

  <!-- review body -->
  <div class="container-fluid">
      <!-- <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
    
        </div>
      </div> -->
  
    <div class="row m-0">
      <!-- <div class="col-1">
      
      </div> -->
      <div class="col-md-9" >
        
        <!-- <h5 class="mt-5"> Zerodha Stock Trading / Demat / Brokerage / Reviews 2021
        </h5> -->
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">{{companyName}} Stock Trading / Demat / Brokerage / Reviews 2021
            </h1>
            <!-- <hr class="my-4"> -->
          <br>
            <p class="lead">
              Zerodha, a popular name in the field of stock broking, has emerged as India’s largest stock broker in terms of total active client base. Incorporated in the year 2010, Zerodha is recognized as India’s first and most prominent discount broker. 
            </p>
            <p class="lead">
              Despite being one of the newest member to the stock brokers’ industry in India, it has pioneered in the art of conventional financial services and state-of-the-art trading technology in the Indian equity and derivative trade economy. The firm is known for giving a great boost to the conventional equity and derivatives trading within the country.
            </p>

            <p class="lead">
              Zerodha was the first brokerage house in India to have introduced a competitive pricing model which is first of its kind within the Indian broking industry and has also been acknowledged for pioneering in trading technology in India.
            </p>
            <p class="lead">
              Zerodha offers a flat fee discount brokerage service for investing in equities, currency, commodities, IPOs and Direct Mutual Funds. Zerodha upheld its vision of assisting retail traders and investors by offering them up-to-date information, timely knowledge and high-tech tools. 
            </p>

            <p class="lead">
              Zerodha has been recognized for the “Retail Brokerage of the Year 2018” award by the National Stock Exchange, “Retail Broker of the year 2017” award by Outlook Money and “Young Entrepreneur of the year (Startup) 2017” award by Ernst & Young.
            </p>
          </div>
          
      </div>


<!-- Account Types -->

 <!--  -->
 <div class="container-fluid">
  <h4 class="display-4">
      Account Types
  </h4>
  <br>
  <p class="lead">
      {{companyName}} offers {{companyData?.account_types.length}} different plans to help your trade :
  </p>

  <br>
  <div *ngFor = "let data of companyData?.account_types">
      <h4 class="sub-header">
          {{data?.type}}
      </h4>
      <p class="lead">
          {{data?.description}}
      </p>
  </div>
</div>
<!--  -->

<!--  -->

<br><br><br><br>
<div class="container-fluid">
    <h4 class="display-4">
      {{companyName}} Online Account Opening
    </h4>
    <br>
    <!-- <p class="lead">
        Fill an online application form. Click here to fill the {{companyName}} contact form.

    </p> -->
    <p class="lead">
      Being one of India’s top stock brokers, it is quite common for you to get attracted towards opening a Demat and Trading Account with Zerodha.

    </p>
    <p class="lead">
      If this is the case, here are some simple steps you need to follow to have your Zerodha Demat Account in place. Opening a Demat and Trading Account with Zerodha is simple.
    </p>
    <p class="lead">
      <i class="fa fa-check-square-o mr-2"></i>
      	Visit Zerodha’s official website and sign up using your mobile number. 

    </p>
    <p class="lead">
      <i class="fa fa-check-square-o mr-2"></i>
      	Enter your PAN Card details, bank account details, and personal details and continue with sign-up. 

    </p>
    <p class="lead">
      <i class="fa fa-check-square-o mr-2"></i>
      Complete the KYC verification with your Aadhar Card, PAN Card, and a photograph to verify your age, identity and address.

    </p>
    <p class="lead">
      <i class="fa fa-check-square-o mr-2"></i>
      Once all these steps are completed you will be contacted by an authorized personnel on behalf of Zerodha who will be responsible for final set of verification.

    </p>
    <p class="lead">
      <i class="fa fa-check-square-o mr-2"></i>
      Once the final verification is complete you can freely use your Demat and Trading Account for placing trades.

    </p>
   
</div>



<!--  -->
<br><br><br><br>

        <div class="container-fluid">
          <h4 class="display-4">Zerodha Charges 2021</h4>
          <!-- <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p> -->
          <!-- <hr class="my-4"> -->
          <!-- <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
          </p> -->

          <br>
    <!-- sub section -->
    <h3 class="sub-header">{{companyName}} Account Opening Charges</h3>
    
    <p class="sub-header-content">
      Trading account opening charges for {{companyName}} is {{companyData?.charges_and_amc?.trading_account_opening_charges}}. 
      Demat account opening charges for {{companyName}} is {{companyData?.charges_and_amc?.demat_account_opening_charges}}.
      The demat account annual maintenance charges is 
      {{companyData?.charges_and_amc?.demat_account_amc_charges}}. 
      The trading account annual maintenance charges is 
      {{companyData?.charges_and_amc?.demat_account_amc_charges}}.
    </p>

    <table class="table mt-5 mb-5 text-center">
      <thead>
        <tr>
          <th scope="col">Transaction</th>
          <th scope="col">Charges</th>
          

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Trading Account Opening Charges</td>
          <td> {{companyData?.charges_and_amc?.trading_account_opening_charges}}</td>
         
        </tr>
        <tr>
          <td>Demat Account Opening Charges</td>
          <td> {{companyData?.charges_and_amc?.demat_account_opening_charges}}</td>
         
        </tr>
        <tr>
          <td>Trading Account AMC</td>
          <td> {{companyData?.charges_and_amc?.trading_account_amc_charges}}</td>
          
        </tr>
        <tr>
          <td>Demat Account AMC</td>
          <td> {{companyData?.charges_and_amc?.demat_account_amc_charges}}</td>
         
        </tr>
      </tbody>
    </table>
    <!-- sub section ends -->


           <!-- sub section -->
    <h3 class="sub-header">{{companyName}} Brokerage Charges 2020</h3>
    <p class="sub-header-content">
      {{companyName}} follows a fixed brokerage model wherein it charges a flat Rs 20 or 0.03% (whichever is lower) per executed order. It charges zero brokerage on equity delivery. The maximum brokerage chargeable per order is Rs 20.
    </p>

    <table class="table mt-5 mb-5 text-center">
      <thead>
        <tr>
          <th scope="col">Trading Segment</th>
          <th scope="col">Brokerage Charges</th>
          

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Equity Delivery</td>
          <td> {{companyData?.brokerage2020?.equity_delivery}}</td>
         
        </tr>
        <tr>
          <td>Equity Intraday</td>
          <td> {{companyData?.brokerage2020?.equity_intraday}}</td>
         
        </tr>
        <tr>
          <td>Equity Future</td>
          <td> {{companyData?.brokerage2020?.equity_futures}}</td>
         
        </tr>
        <tr>
          <td>Equity Options</td>
          <td> {{companyData?.brokerage2020?.equity_options}}</td>
         
        </tr>
        <tr>
          <td>Currency Futures</td>
          <td> {{companyData?.brokerage2020?.commodity_futures}}</td>
         
        </tr>
        <tr>
          <td>Currency Options</td>
          <td> {{companyData?.brokerage2020?.currency_options}}</td>
         
        </tr>
        <tr>
          <td>Commodity Futures</td>
          <td> {{companyData?.brokerage2020?.commodity_futures}}</td>
         
        </tr>
        <tr>
          <td>Commodity Options</td>
          <td> {{companyData?.brokerage2020?.commodity_options}}</td>
         
        </tr>
        <tr>
          <td>Mutual Fund</td>
          <td> {{companyData?.brokerage2020?.equity_delivery}}</td>
         
        </tr>
      </tbody>
    </table>
    <!-- sub section ends -->
   

     <!-- sub section -->
     <h3 class="sub-header">{{companyName}} Equity Charges</h3>
     <p class="sub-header-content">
      {{companyName}} charges Rs 0 (no brokerage) for equity delivery trades. For intraday trading, they charge flat Rs 20 per executed order or 0.03% (whichever is lower) on both sides.
    </p>

     <table class="table mt-5 mb-5 text-center">
       <thead>
         <tr>
           <th scope="col">Charge Type</th>
           <th scope="col">Equity Delivery</th>
           <th scope="col">Equity Intraday</th>

         </tr>
       </thead>
       <tbody>
         <tr>
           <td>Brokerage</td>
           <td> {{companyData?.equity_charges?.brokerage?.equity_delivery}}	</td>
           <td> {{companyData?.equity_charges?.brokerage?.equity_intraday}} </td>

         </tr>
         <tr>
           <td>Securities Transaction Tax (STT)</td>
           <td> {{companyData?.equity_charges?.stt?.equity_delivery}}	</td>
           <td> {{companyData?.equity_charges?.stt?.equity_intraday}} </td>
         </tr>
         <tr>
           <td>Transaction / Turnover Charges</td>
           <td> {{companyData?.equity_charges?.transaction_charges?.equity_delivery}}	</td>
           <td> {{companyData?.equity_charges?.transaction_charges?.equity_intraday}} </td>

         </tr>
         <tr>
           <td>Goods and Services Tax (GST)</td>
           <td> {{companyData?.equity_charges?.gst?.equity_delivery}}	</td>
           <td> {{companyData?.equity_charges?.gst?.equity_intraday}} </td>

         </tr>
         <tr>
           <td>SEBI Charges</td>
           <td> {{companyData?.equity_charges?.sebi_charges?.equity_delivery}}	</td>
           <td> {{companyData?.equity_charges?.sebi_charges?.equity_intraday}} </td>
         </tr>
         <tr>
           <td>Stamp Charges</td>
           <td> {{companyData?.equity_charges?.stamp_charges?.equity_delivery}}	</td>
           <td> {{companyData?.equity_charges?.stamp_charges?.equity_intraday}} </td>

         </tr>
        
       </tbody>
     </table>
     <!-- sub section ends -->


      <!-- sub section -->
      <h3 class="sub-header">{{companyName}} F&O Charges </h3>
      <p class="sub-header-content">
        {{companyName}} F&O brokerage charge is flat Rs 20 per executed order or 0.03% (whichever is lower). You also have to pay taxes like STT, Transaction Fee, GST, SEBI charges, and Stamp Duty.           </p>

      <table class="table mt-5 mb-5 text-center">
        <thead>
          <tr>
            <th scope="col">Charge Type</th>
            <th scope="col">Equity Futures</th>
            <th scope="col">Equity Options</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Brokerage</td>
            <td> {{companyData?.equity_f_and_o_charges?.brokerage?.futures}}	</td>
            <td> {{companyData?.equity_f_and_o_charges?.brokerage?.options}} </td>
 
          </tr>
          <tr>
            <td>Securities Transaction Tax (STT)</td>
            <td> {{companyData?.equity_f_and_o_charges?.stt?.futures}}	</td>
            <td> {{companyData?.equity_f_and_o_charges?.stt?.options}} </td>
          </tr>
          <tr>
            <td>Transaction / Turnover Charges</td>
            <td> {{companyData?.equity_f_and_o_charges?.transaction_charges?.futures}}	</td>
            <td> {{companyData?.equity_f_and_o_charges?.transaction_charges?.options}} </td>
 
          </tr>
          <tr>
            <td>Goods and Services Tax (GST)</td>
            <td> {{companyData?.equity_f_and_o_charges?.gst?.futures}}	</td>
            <td> {{companyData?.equity_f_and_o_charges?.gst?.options}} </td>
 
          </tr>
          <tr>
            <td>SEBI Charges</td>
            <td> {{companyData?.equity_f_and_o_charges?.sebi_charges?.futures}}	</td>
            <td> {{companyData?.equity_f_and_o_charges?.sebi_charges?.options}} </td>
          </tr>
          <tr>
            <td>Stamp Charges</td>
            <td> {{companyData?.equity_f_and_o_charges?.stamp_charges?.futures}}	</td>
            <td> {{companyData?.equity_f_and_o_charges?.stamp_charges?.options}} </td>
 
          </tr>
         
        </tbody>
      </table>
      <!-- sub section ends -->


      <!-- sub section -->
      <h3 class="sub-header">{{companyName}} Currency Charges
      </h3>
      <p class="sub-header-content">
        {{companyName}} currency brokerage charge is flat Rs 20 per executed order or 0.03% (whichever is lower). In addition to brokerage, the customer has to pay taxes like STT, Transaction Fee, GST, SEBI charges, and Stamp Duty.</p>

      <table class="table mt-5 mb-5 text-center">
        <thead>
          <tr>
            <th scope="col">Charge Type</th>
            <th scope="col">Currency Futures</th>
            <th scope="col">Currency Options</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Brokerage</td>
            <td> {{companyData?.equity_currency_charges?.brokerage?.futures}}	</td>
            <td> {{companyData?.equity_currency_charges?.brokerage?.options}} </td>
 
          </tr>
          <tr>
            <td>Securities Transaction Tax (STT)</td>
            <td> {{companyData?.equity_currency_charges?.stt?.futures}}	</td>
            <td> {{companyData?.equity_currency_charges?.stt?.options}} </td>
          </tr>
          <tr>
            <td>Transaction / Turnover Charges</td>
            <td> {{companyData?.equity_currency_charges?.transaction_charges?.futures}}	</td>
            <td> {{companyData?.equity_currency_charges?.transaction_charges?.options}} </td>
 
          </tr>
          <tr>
            <td>Goods and Services Tax (GST)</td>
            <td> {{companyData?.equity_currency_charges?.gst?.futures}}	</td>
            <td> {{companyData?.equity_currency_charges?.gst?.options}} </td>
 
          </tr>
          <tr>
            <td>SEBI Charges</td>
            <td> {{companyData?.equity_currency_charges?.sebi_charges?.futures}}	</td>
            <td> {{companyData?.equity_currency_charges?.sebi_charges?.options}} </td>
          </tr>
          <tr>
            <td>Stamp Charges</td>
            <td> {{companyData?.equity_currency_charges?.stamp_charges?.futures}}	</td>
            <td> {{companyData?.equity_currency_charges?.stamp_charges?.options}} </td>
 
          </tr>
         
         
        </tbody>
      </table>
      <!-- sub section ends -->



      <!-- sub section -->
      <h3 class="sub-header">{{companyName}} Commodities Charges

      </h3>
      <p class="sub-header-content">
        {{companyName}} commodity brokerage charge is flat Rs 20 or 0.03% (whichever is lower) per executed order. Along with this, customers have to pay taxes like STT, Transaction Fee, GST, SEBI charges, and Stamp Duty.</p>

      <table class="table mt-5 mb-5 text-center">
        <thead>
          <tr>
            <th scope="col">Charge Type</th>
            <th scope="col">Commodity Futures</th>
            <th scope="col">Commodity Options</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Brokerage</td>
            <td> {{companyData?.equity_commodity_charges?.brokerage?.futures}}	</td>
            <td> {{companyData?.equity_commodity_charges?.brokerage?.options}} </td>
 
          </tr>
          <tr>
            <td>Securities Transaction Tax (STT)</td>
            <td> {{companyData?.equity_commodity_charges?.stt?.futures}}	</td>
            <td> {{companyData?.equity_commodity_charges?.stt?.options}} </td>
          </tr>
          <tr>
            <td>Transaction / Turnover Charges</td>
            <td> {{companyData?.equity_commodity_charges?.transaction_charges?.futures}}	</td>
            <td> {{companyData?.equity_commodity_charges?.transaction_charges?.options}} </td>
 
          </tr>
          <tr>
            <td>Goods and Services Tax (GST)</td>
            <td> {{companyData?.equity_commodity_charges?.gst?.futures}}	</td>
            <td> {{companyData?.equity_commodity_charges?.gst?.options}} </td>
 
          </tr>
          <tr>
            <td>SEBI Charges</td>
            <td> {{companyData?.equity_commodity_charges?.sebi_charges?.futures}}	</td>
            <td> {{companyData?.equity_commodity_charges?.sebi_charges?.options}} </td>
          </tr>
          <tr>
            <td>Stamp Charges</td>
            <td> {{companyData?.equity_commodity_charges?.stamp_charges?.futures}}	</td>
            <td> {{companyData?.equity_commodity_charges?.stamp_charges?.options}} </td>
 
          </tr>
         
        </tbody>
      </table>
      <!-- sub section ends -->



 



        </div>
<br><br><br><br>
<!--  -->


        <div class="container-fluid">
          <h4 class="display-4">
            {{companyName}} Fee Structure
          </h4>
          <br>
          <p class="sub-header-content">
            Fee structure of {{companyName}} are followings
          </p>
          <table class="table mt-5 mb-5 text-center">
            <thead>
              <tr>
                <th scope="col">Transaction</th>
                <th scope="col">Charges</th>
               
      
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Trading Account Opening</td>
                <td> {{companyData?.fee_structure?.trading_account_opening_charges}}</td>
               
              </tr>
              <tr>
                <td>Demat Account Opening</td>
                <td> {{companyData?.fee_structure?.demat_account_opening_charges}}</td>
               
              </tr>
              <tr>
                <td>Trading Account AMC</td>
                <td> {{companyData?.fee_structure?.trading_account_amc_charges}}</td>
               
              </tr>
              <tr>
                <td>Demat Account AMC</td>
                <td> {{companyData?.fee_structure?.demat_account_amc_charges}}</td>
                
              </tr>
              <tr>
                <td>Transaction Charges</td>
                <td> {{companyData?.fee_structure?.transaction_charges}}</td>
               
              </tr>
              <tr>
                <td>STT</td>
                <td> {{companyData?.fee_structure?.stt}}</td>
               
              </tr>
              <tr>
                <td>SEBI Turnover Charges</td>
                <td> {{companyData?.fee_structure?.sebi_charges}}</td>
                
              </tr>
              <tr>
                <td>Stamp Duty</td>
                <td> {{companyData?.fee_structure?.stamp_charges}}</td>
               
              </tr>
              <tr>
                <td>GST</td>
                <td>
                  {{companyData?.fee_structure?.gst}}
                </td>
              </tr>
            </tbody>
          </table>


        </div>
      



    


        

        <br><br><br><br>
        <div class="container-fluid">
         
            <h1 class="display-4">{{companyName}} Trading Software ({{companyName}} Trading Platforms)

            </h1>
            <br>
            <p class="lead">
              {{companyName}} offers mobile, desktop and web trading platforms. Following are the trading platforms offered by {{companyName}}:
              We can trade with {{companyName}} in following ways:

            </p>
            <!-- <hr class="my-4"> -->
            <!-- <p class="lead">Securities Transaction Tax (STT)</p> -->
           
          <!-- list item -->
          <h4 class="sub-header">
            
            Kite 3.0 (Web-based Trading Platform) 
          </h4>
          <p class="lead">
            Launched in November 2015, Zerodha Kite 3.0 is a web based trading platform based on HTML 5 lightweight and fast trading  platform. This trading platform can be used on mobile, tablets and on web-browsers. The platform was developed in-house by Zerodha and has undergone various updates since its inception. It offers full market watch, advanced charting with approximately 100 indicators and 6 types of charts.          
          </p>
          <!-- list item ends -->
          <br>
          <!-- list item -->
          
          <h4 class="sub-header">
            
            Kite Android/ Kite iOS (Mobile Trading App)
          </h4>
          <p class="lead">
            It is a smartphone application for both Android and iOS users. It allows customers to trade from their mobile phones. The app is available for free for its customers and can be used for trading and monitoring stocks and commodities markets in the country.
          </p>
          <!-- list item ends -->
          <br>
          <!-- list item -->
          <h4 class="sub-header">
            
            Zerodha Console
           </h4>
          <p class="lead">
            Zerodha Console is a back-office platform and is a trade and reporting dashboard and can be used by customers to view and monitor all their investments including those made in stocks, derivatives, and mutual funds. Customers get access to various reports, get statements, and place withdrawal requests.
          </p>
          <!-- list item ends -->
          <br>
          <!-- list item -->
          <h4 class="sub-header">
            
            Zerodha Sentinel (Price Alert Tool)
          </h4>
          <p class="lead">
            It is a cloud-based tool offered by Zerodha which allows customers to set up price alerts on stocks, futures and options. The unique feature of this platform is that price alerts are triggered for any time, even when the system is off. Notifications are sent on Kite and on e-mail every time a price alert is triggered.
          </p>
          <!-- list item ends -->
          <br>
          <!-- list item -->
          <h4 class="sub-header">
            Zerodha Coin (Mutual Fund Investments)  </h4>
          <p class="lead">Zerodha Coin is a mutual fund investment platform offered by the firm to its customers. Coin allows customers to invest in direct mutual funds which means that as a Zerodha customer you can invest in mutual funds on zero commission. It offers a saving of over 1.5% on commission every year.

          </p>
          <!-- list item ends -->
  
          
        </div>


       <br><br><br><br>

        <div class="container-fluid">

          <h1 class="display-4">{{companyName}} Pros

          </h1>
          <br>
          <p class="lead">
            Following are the advantages and disadvantages of {{companyName}} as a stock broker

          </p>
          <br>

          <h4 class="sub-header">
            Advantages of {{companyName}}
          </h4>
          <hr>
          <!-- list item -->
          <br>
          <h4 class="sub-header">
            India's Largest Stock Broker
          </h4>
          <p class="lead">
            <i class="fa fa-check-square-o mr-2"></i>
            {{companyName}} is India’s largest stock broker by number of clients and daily turnover.
          </p>
          <!-- list item ends -->
          <br>
          <!-- list item -->
          <h4 class="sub-header">
            Best Trading Platforms
          </h4>
          <p class="lead">
            <i class="fa fa-check-square-o mr-2"></i>
            {{companyName}} offers the best trading platforms and tools in the industry.
          </p>
          <!-- list item ends -->
          <br>
          <!-- list item -->
          <h4 class="sub-header">
            No Brokerage Charged
          </h4>
          <p class="lead">
            <i class="fa fa-check-square-o mr-2"></i>
            Delivery trade has no leverage. There is no brokerage charged for equity delivery.
          </p>
          <!-- list item ends -->
          <br>
          <!-- list item -->
          <h4 class="sub-header">
            Simple Pricing Model For Trading
          </h4>
          <p class="lead">
            <i class="fa fa-check-square-o mr-2"></i>
            It offers a simple pricing model. The maximum brokerage charged it Rs.20 per trade.
          </p>
          <!-- list item ends -->
          <br>
          <!-- list item -->
          <h4 class="sub-header">
            {{companyName}} Referral Program
          </h4>
          <p class="lead">
            <i class="fa fa-check-square-o mr-2"></i>
            {{companyName}}'s' referral program allows you to earn 10% of brokerage share.
          </p>
          <!-- list item ends -->
          <br>
          <!-- list item -->
          <h4 class="sub-header">
            Best Customer Support For Trading
          </h4>
          <p class="lead">
            <i class="fa fa-check-square-o mr-2"></i>
            {{companyName}} offers the best customer support mechanism
          </p>
          <!-- list item ends -->
          <br>


        </div>

<br><br><br><br>
<div class="container-fluid">
  <h1 class="display-4">
    {{companyName}} Cons
  </h1>


  <br>
  <p class="lead">
    Following are the advantages and disadvantages of {{companyName}} as a stock broker

  </p>
  <br>
  <h4 class="sub-header">
    Disadvantages of {{companyName}}
  </h4>
  <hr>
  <!-- list item -->
  <br>
  <h4 class="sub-header">
    Trading Tips
  </h4>
  <p class="lead">
    <i class="fa fa-check-square-o mr-2"></i>
    {{companyName}} doesn’t offer stock trading tips, research reports or stock recommendations.
  </p>
  <!-- list item ends -->
  <!-- list item -->
  <br>
  <h4 class="sub-header">
    Monthly Trading Plans
  </h4>
  <p class="lead">
    <i class="fa fa-check-square-o mr-2"></i>
    {{companyName}} has No monthly trading plans are available.
  </p>
  <!-- list item ends -->
  <!-- list item -->
  <br>
  <h4 class="sub-header">
    Free demat account maintenance charges
  </h4>
  <p class="lead">
    <i class="fa fa-check-square-o mr-2"></i>
    {{companyName}} doesn’t offer Lifetime free Demat AMC.
  </p>
  <!-- list item ends -->

  <!-- list item -->
  <br>
  <h4 class="sub-header">
    Additional Charge
  </h4>
  <p class="lead">
    <i class="fa fa-check-square-o mr-2"></i>
    An additional charge of Rs.50/- per executed order is levied for MIS/BO/CO positions to for squaring-off the
    position.
  </p>
  <!-- list item ends -->

  <!-- list item -->
  <br>
  <h4 class="sub-header">
    Call & Trade
  </h4>
  <p class="lead">
    <i class="fa fa-check-square-o mr-2"></i>
    Call & Trade facility is available at an additional charge of Rs.50 per executed order.
  </p>
  <!-- list item ends -->

  <!-- list item -->
  <br>
  <h4 class="sub-header">
    3 in 1 trading account
  </h4>
  <p class="lead">
    <i class="fa fa-check-square-o mr-2"></i>
    3-in-1 trading account is not available.
  </p>
  <!-- list item ends -->


</div>

<!-- sub section -->



<br><br><br><br>

        
<!-- sub section -->
<div class="container-fluid">
  <h3 class="display-4">{{companyName}} Margin / Exposure

  </h3>
  <br>
  <p class="lead">
    {{companyName}} leverage for intraday, delivery, options, currency and commodities.</p>
  <table class="table mt-5 mb-5  text-center">
    <thead>
      <tr>
        <th scope="col">Segment	</th>
        <th scope="col">Margin </th>
        

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Equity Delivery	 </td>
        <td>{{companyData?.margin_exposure?.equity_delivery}}
        </td>
        

      </tr>
      <tr>
        <td>Equity Intraday	</td>
        <td> {{companyData?.margin_exposure?.equity_intraday}}
        </td>
      
      </tr>
      <tr>
        <td>Equity Future		</td>
        <td> {{companyData?.margin_exposure?.equity_futures}}
        </td>
       

      </tr>
      <tr>
        <td>Equity Options	</td>
        <td> {{companyData?.margin_exposure?.equity_options}}
        </td>
        

      </tr>
      <tr>
        <td>Currency Future		</td>
        <td> {{companyData?.margin_exposure?.currency_futures}}
        </td>
       
        
      </tr>
      <tr>
        <td>Currency Options		</td>
        <td> {{companyData?.margin_exposure?.currency_options}}
        </td>
       
        

      </tr>
      <tr>
        <td>Commodity Future			</td>
        <td> {{companyData?.margin_exposure?.commodity_futures}}

        </td>
       
       

      </tr>
      <tr>
        <td>Commodity Options			</td>
        <td> {{companyData?.margin_exposure?.commodity_options}}

        </td>
       
       

      </tr>
     
    </tbody>
  </table>
</div>
<!-- sub section ends -->



<!-- subsection start -->
<div class="container-fluid newSubsection">
  <h3 class="display-4">{{companyName}} Ratings
  </h3>
  <br>
  <p class="lead">
    {{companyName}} ratings are as follows
  </p>
  
  
  <table class="table mt-5 mb-5 text-center">
    <thead>
      <tr>
        <th scope="col">Segment	</th>
        <th scope="col">Ratings		</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><b>Overall Rating</b>	</td>
        <td> {{companyData?.ratings?.overall_ratings}}</td>
  
      </tr>
      <tr>
        <td>Fees		</td>
        <td> {{companyData?.ratings?.fees}} </td>
      </tr>
      
      <tr>
        <td>Brokerage	</td>
        <td> {{companyData?.ratings?.trading_brokerage}} </td>
      </tr>
      
     <tr>
       <td>Usability		</td>
       <td> {{companyData?.ratings?.trading_platform_usability}} </td>
      </tr>
     <tr>
       <td>Customer Service		</td>
       <td> {{companyData?.ratings?.customer_service}}</td>
     </tr>
     <tr>
       <td>Research Capabilities		</td>
       <td> {{companyData?.ratings?.research_capabilities}} </td>
     </tr>
     
    </tbody>
  </table>
  
</div>

      </div>
      <div class="col-md-3" style="margin-top: 4rem;">
        <app-company-page-scroll [companyScrollObject] = "companyScrollObject"></app-company-page-scroll>
        <app-special-offers></app-special-offers>
      </div>
    </div>
    </div>

    <app-compare-broker-list [companyName]="companyName" [companyUrl] = "'zerodha'"></app-compare-broker-list>

    <!-- review body ends -->