<app-company-header [companyName] = "companyName"></app-company-header>
  
  <!-- compare broker -->

  <div class="container-fluid mt-5 p-3 mb-5">
    <div class="row mt-2">
      <div class="row mx-auto">
        <div class="col-md-4">
          <!-- <label for="">First Broker</label> -->
          <input type="text" placeholder="" [(ngModel)]="broker1"  class="form-control">
  
      </div>
          <div class="col-md-4">
              <!-- <label for="">Second Broker</label> -->
              <input type="text" placeholder="" [(ngModel)]="broker2"  class="form-control">
  
          </div>
          
          
          
          <div class="col-md-4">
              <button type="submit" (click) = "submitCompareForm()"  class=" submit-button "><b>Compare Brokers</b></button>
  
          </div>
      </div>
    </div>
  </div>
    <!-- compare broker ends -->
  <!-- review body -->
  <div class="container-fluid">
    
  
    <div class="row m-0">
      <!-- <div class="col-1">
      
      </div> -->
      <div class="col-md-9" >
        
        <!-- <h5 class="mt-5"> Zerodha Stock Trading / Demat / Brokerage / Reviews 2021
        </h5> -->
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">Zerodha Stock Trading / Demat / Brokerage / Reviews 2021</h1>
            <hr class="my-4">
            <p class="lead">
              Zerodha is India's No. 1 stockbroker. It is largest and most popular broker offering online flat fee discount brokerage services to invest in Equity, Currency, Commodity, IPO and Direct Mutual Funds.
            </p>
            <br>
            <p class="lead">
              Zerodha charges Rs 0 brokerage for equity delivery trades and direct mutual funds. For intraday and F&O, it charges flat Rs 20 or 0.03% (whichever is lower) per trade. With Zerodha, the maximum brokerage you pay for any transaction is Rs 20 for an order (of any size, amount or segment).
            </p>
          </div>
        </div>


        <div class="jumbotron">
          <h1 class="display-4 header">Zerodha Charges 2021</h1>
          <!-- <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p> -->
          <hr class="my-4">
          <!-- <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
          </p> -->

          <!-- sub section -->
          <h3 class="sub-header">Zerodha Account Opening Charges</h3>
          <p class="sub-header-content">
            Zerodha account opening charges are Rs 200 for online account opening. If you choose to open an account offline, you will be charged Rs 400. The demat account AMC is Rs 300 per year.
          </p>

          <table class="table mt-5 mb-5 text-center">
            <thead>
              <tr>
                <th scope="col">Transaction</th>
                <th scope="col">Charges</th>
                
    
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Trading & Demat Account Opening</td>
                <td> Rs 200</td>
               
              </tr>
              <tr>
                <td>Trading Account AMC</td>
                <td> Rs 0</td>
               
              </tr>
              <tr>
                <td>Demat Account AMC</td>
                <td> Rs 300 per year</td>
               
              </tr>
            </tbody>
          </table>
          <!-- sub section ends -->

          <!-- sub section -->
          <h3 class="sub-header">Zerodha Brokerage Charges 2020</h3>
          <p class="sub-header-content">
            Zerodha follows a fixed brokerage model wherein it charges a flat Rs 20 or 0.03% (whichever is lower) per executed order. It charges zero brokerage on equity delivery. The maximum brokerage chargeable per order is Rs 20.
          </p>

          <table class="table mt-5 mb-5 text-center">
            <thead>
              <tr>
                <th scope="col">Trading Segment</th>
                <th scope="col">Brokerage Charges</th>
                
    
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Equity Delivery</td>
                <td> Rs 0 (Free)</td>
               
              </tr>
              <tr>
                <td>Equity Intraday</td>
                <td> Flat Rs 20 or 0.03% (whichever is lower) per executed order</td>
               
              </tr>
              <tr>
                <td>Equity Future</td>
                <td> Flat Rs 20 or 0.03% (whichever is lower) per executed order</td>
               
              </tr>
              <tr>
                <td>Equity Options</td>
                <td> Flat Rs 20 per executed order (on Turnover)</td>
               
              </tr>
              <tr>
                <td>Currency Futures</td>
                <td> Flat Rs 20 or 0.03% (whichever is lower) per executed order</td>
               
              </tr>
              <tr>
                <td>Currency Options</td>
                <td> Flat Rs 20 or 0.03% (whichever is lower) per executed order</td>
               
              </tr>
              <tr>
                <td>Commodity</td>
                <td> Flat Rs 20 or 0.03% (whichever is lower) per executed order</td>
               
              </tr>
              <tr>
                <td>Mutual Fund</td>
                <td> Rs 0 (Free Unlimited Direct MF)</td>
               
              </tr>
            </tbody>
          </table>
          <!-- sub section ends -->
         

           <!-- sub section -->
           <h3 class="sub-header">Zerodha Equity Charges</h3>
           <p class="sub-header-content">
            Zerodha charges Rs 0 (no brokerage) for equity delivery trades. For intraday trading, they charge flat Rs 20 per executed order or 0.03% (whichever is lower) on both sides.
          </p>
 
           <table class="table mt-5 mb-5 text-center">
             <thead>
               <tr>
                 <th scope="col">Charge Type</th>
                 <th scope="col">Equity Delivery</th>
                 <th scope="col">Equity Intraday</th>
     
               </tr>
             </thead>
             <tbody>
               <tr>
                 <td>Brokerage</td>
                 <td> Rs 0 (No Brokerage)	</td>
                 <td> Flat Rs 20 or 0.03% (whichever is lower) </td>

               </tr>
               <tr>
                 <td>Securities Transaction Tax (STT)</td>
                 <td> 0.1% on both Buy and Sell</td>
                <td>0.025% on the Sell Side</td>
               </tr>
               <tr>
                 <td>Transaction / Turnover Charges</td>
                 <td> NSE: 0.00325% | BSE: 0.003% per trade (each side)</td>
                 <td> NSE: 0.00325% | BSE: 0.003% per trade (each side)</td>

               </tr>
               <tr>
                 <td>Goods and Services Tax (GST)</td>
                 <td> 18% on (Brokerage + Transaction Charge)</td>
                 <td> 18% on (Brokerage + Transaction Charge)</td>

               </tr>
               <tr>
                 <td>SEBI Charges</td>
                 <td> Rs 5/Crore</td>
                 <td> Rs 5/Crore</td>
               </tr>
               <tr>
                 <td>Stamp Charges</td>
                 <td> 0.015% (Rs 1500 per crore) on buy-side</td>
                 <td> 0.003% (Rs 300 per crore) on buy-side</td>

               </tr>
              
             </tbody>
           </table>
           <!-- sub section ends -->


            <!-- sub section -->
            <h3 class="sub-header">Zerodha F&O Charges </h3>
            <p class="sub-header-content">
              Zerodha F&O brokerage charge is flat Rs 20 per executed order or 0.03% (whichever is lower). You also have to pay taxes like STT, Transaction Fee, GST, SEBI charges, and Stamp Duty.           </p>
  
            <table class="table mt-5 mb-5 text-center">
              <thead>
                <tr>
                  <th scope="col">Charge Type</th>
                  <th scope="col">Equity Futures</th>
                  <th scope="col">Equity Options</th>
      
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Brokerage</td>
                  <td>Flat Rs 20 or 0.03% (whichever is lower)	</td>
                  <td> Flat Rs 20 or 0.03% (whichever is lower)</td>
 
                </tr>
                <tr>
                  <td>Securities Transaction Tax (STT)</td>
                  <td> 0.01% on Sell Side</td>
                 <td>0.05% on Sell Side(on Premium)</td>
                </tr>
                <tr>
                  <td>Transaction / Turnover Charges</td>
                  <td> NSE: 0.0019% | BSE 0.003% (each side)</td>
                  <td> NSE 0.05% | BSE 0.003% (each side) (on premium)</td>
 
                </tr>
                <tr>
                  <td>Goods and Services Tax (GST)</td>
                  <td> 18% on (Brokerage + Transaction Charge)</td>
                  <td> 18% on (Brokerage + Transaction Charge)</td>
 
                </tr>
                <tr>
                  <td>SEBI Charges</td>
                  <td> 0.00005% (Rs 5/Crore)</td>
                  <td> 0.00005% (Rs 5/Crore)</td>
                </tr>
                <tr>
                  <td>Stamp Charges</td>
                  <td> 0.002% (Rs 200 per crore) on buy-side</td>
                  <td> 0.003% (Rs 300 per crore) on buy-side</td>
 
                </tr>
               
              </tbody>
            </table>
            <!-- sub section ends -->


            <!-- sub section -->
            <h3 class="sub-header">Zerodha Currency Charges
            </h3>
            <p class="sub-header-content">
              Zerodha currency brokerage charge is flat Rs 20 per executed order or 0.03% (whichever is lower). In addition to brokerage, the customer has to pay taxes like STT, Transaction Fee, GST, SEBI charges, and Stamp Duty.</p>
  
            <table class="table mt-5 mb-5 text-center">
              <thead>
                <tr>
                  <th scope="col">Charge Type</th>
                  <th scope="col">Currency Futures</th>
                  <th scope="col">Currency Options</th>
      
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Brokerage</td>
                  <td>Flat Rs 20 or 0.03% (whichever is lower)		</td>
                  <td> Flat Rs 20 or 0.03% (whichever is lower) </td>
 
                </tr>
                <tr>
                  <td>Securities Transaction Tax (STT)	</td>
                  <td> No STT</td>
                 <td>No STT</td>
                </tr>
                <tr>
                  <td>Transaction / Turnover Charges	</td>
                  <td> NSE: 0.0009% | BSE: 0.00022%	</td>
                  <td> NSE: 0.035% | BSE: 0.001% (on premium)</td>
 
                </tr>
                <tr>
                  <td>Goods and Services Tax (GST)	</td>
                  <td> 18% on (Brokerage + Transaction Charge)	</td>
                  <td> 18% on (Brokerage + Transaction Charge)
                  </td>
 
                </tr>
                <tr>
                  <td>SEBI Charges	</td>
                  <td> 0.00005% (Rs 5/Crore)	</td>
                  <td> 0.00005% (Rs 5/Crore)
                  </td>
                </tr>
                <tr>
                  <td>Stamp Charges	</td>
                  <td> 0.0001% (Rs 10 per crore) on buy-side	</td>
                  <td> 0.0001% (Rs 10 per crore) on buy-side
                  </td>
 
                </tr>
               
              </tbody>
            </table>
            <!-- sub section ends -->



            <!-- sub section -->
            <h3 class="sub-header">Zerodha Commodities Charges

            </h3>
            <p class="sub-header-content">
              Zerodha commodity brokerage charge is flat Rs 20 or 0.03% (whichever is lower) per executed order. Along with this, customers have to pay taxes like STT, Transaction Fee, GST, SEBI charges, and Stamp Duty.</p>
  
            <table class="table mt-5 mb-5 text-center">
              <thead>
                <tr>
                  <th scope="col">Charge Type</th>
                  <th scope="col">Commodity Futures</th>
                  <th scope="col">Commodity Options</th>
      
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Brokerage</td>
                  <td>Flat Rs 20 or 0.03% (whichever is lower) </td>
                  <td> Flat Rs 20 or 0.03% (whichever is lower)
                  </td>

                </tr>
                <tr>
                  <td>Securities Transaction Tax (STT)		</td>
                  <td> 0.01% on sell side (Non-Agri)	</td>
                 <td>0.05% on sell side
                </td>
                </tr>
                <tr>
                  <td>Transaction / Turnover Charges		</td>
                  <td>Group A: Exchange txn charge: 0.0026%
                    Group B: Exchange txn charge: Pepper - 0.00005%, Castorseed - 0.0005%, Rbdpmolein - 0.001%</td>
                  <td> Rs 0</td>
 
                </tr>
                <tr>
                  <td>Goods and Services Tax (GST)		</td>
                  <td> 18% on (Brokerage + Transaction Charge)		</td>
                  <td> 18% on (Brokerage + Transaction Charge)

                  </td>
 
                </tr>
                <tr>
                  <td>SEBI Charges		</td>
                  <td> 0.00005% (Rs 5/Crore)		</td>
                  <td> 0.00005% (Rs 5/Crore)

                  </td>
                </tr>
                <tr>
                  <td>Stamp Charges	</td>
                  <td> 0.002% (Rs 200 per crore) on buy-side		</td>
                  <td> 0.003% (Rs 300 per crore) on buy-side

                  </td>
 
                </tr>
               
              </tbody>
            </table>
            <!-- sub section ends -->
 
 



        </div>

        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">Zerodha Fee Structure

            </h1>
            <hr class="my-4">
            <!-- <p class="lead">Securities Transaction Tax (STT)</p> -->
           
          <!-- list item -->
          <h4 class="sub-header"><i class="fa fa-ravelry mr-2 fa-flip-horizontal"></i>Securities Transaction Tax (STT) </h4>
          <p class="lead">This is charged only on the sell side for intraday and F&O trades. It is charged on both sides for Delivery trades in Equity.</p>
          <!-- list item ends -->
          <!-- list item -->
          <h4 class="sub-header"><i class="fa fa-ravelry mr-2 fa-flip-horizontal"></i>Transaction Charges (Exchange Turnover Charges) </h4>
          <p class="lead">This fee charged by the stock exchanges for using their trading platform.</p>
          <!-- list item ends -->
          <!-- list item -->
          <h4 class="sub-header"><i class="fa fa-ravelry mr-2 fa-flip-horizontal"></i>Goods and Services Tax (GST) </h4>
          <p class="lead">This is charged at 18% of the total cost of brokerage plus transaction charges.</p>
          <!-- list item ends -->
          <!-- list item -->
          <h4 class="sub-header"><i class="fa fa-ravelry mr-2 fa-flip-horizontal"></i>SEBI Charges </h4>
          <p class="lead">This is charged at Rs 5 per Crore.</p>
          <!-- list item ends -->
          <!-- list item -->
          <h4 class="sub-header"><i class="fa fa-ravelry mr-2 fa-flip-horizontal"></i>Stamp Duty </h4>
          <p class="lead">Eq Delivery - 0.015% (buy side), Eq Intraday - 0.03% (buy side).</p>
          <!-- list item ends -->
          </div>
        </div>



        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">Zerodha Hidden Charges

            </h1>
            <hr class="my-4">
            <p class="lead">Zerodha brokerage hidden charges include call & trade charges, position squared-off by broker and SMS trade alerts as explained below:</p>

            
            <!-- <p class="lead">Securities Transaction Tax (STT)</p> -->
           
          <!-- list item -->
          <p class="lead" >
            <i class="fa fa-superpowers mr-2" aria-hidden="true"></i> Call and Trade feature is available at an extra cost of Rs 50 per call.
          </p>
          <!-- list item ends -->
          <!-- list item -->
          <p class="lead" >
            <i class="fa fa-superpowers mr-2" aria-hidden="true"></i> Additional charge of Rs 50 per executed order for MIS/BO/CO positions which are not square off by the customer.
          </p>
          <!-- list item ends -->
          <!-- list item -->
          <p class="lead" >
            <i class="fa fa-superpowers mr-2" aria-hidden="true"></i> Digital Contract notes are sent via Email. Physical copies of contract notes can be ordered at additional charge of Rs 20 per contract. Courier charges are extra.
          </p>
          <!-- list item ends -->
          <!-- list item -->
          <p class="lead" >
            <i class="fa fa-superpowers mr-2" aria-hidden="true"></i> Trade SMS alerts (optional) are charged at Rs 1 for Equity, F&O, and Currency trade alerts and Rs 0.50 for Commodity trade alerts.
          </p>
          <!-- list item ends -->
          <!-- list item -->
          <p class="lead" >
            <i class="fa fa-superpowers mr-2" aria-hidden="true"></i> Instant payment gateway charges for over 22 banks: Rs 9 per fund transfer.
          </p>
          <!-- list item ends -->
          <!-- list item -->
          <p class="lead" >
            <i class="fa fa-superpowers mr-2" aria-hidden="true"></i> DP charges for delivery based equity selling: Rs 13.5 + GST per transaction.
          </p>
          <!-- list item ends -->
          </div>
        </div>


        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">Zerodha Online Account Opening


            </h1>
            <p class="lead">
              For online trading with Zerodha, investor has to open an account. Following are the ways to open an account with Zerodha.

            </p>

            <hr class="my-4">
            <!-- <p class="lead">Securities Transaction Tax (STT)</p> -->
            <p class="lead "><i class="fa fa-superpowers mr-2" aria-hidden="true"></i> Fill an online application form. Click here to fill the Zerodha contact form.</p>
            <p class="lead"><i class="fa fa-superpowers mr-2" aria-hidden="true"></i>Open your account instantly with AADHAAR.</p>            

            
          
          </div>
        </div>


        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">Zerodha Trading Software (Zerodha Trading Platforms)

            </h1>
            <p class="lead">
              A customer can trade with Zerodha in following ways:

            </p>
            <hr class="my-4">
            <!-- <p class="lead">Securities Transaction Tax (STT)</p> -->
           
          <!-- list item -->
          <h4 class="sub-header"><i class="fa fa-ravelry mr-2 fa-flip-horizontal"></i>Kite 3.0 (Web-based Trading Platform) </h4>
          <p class="lead">
            Launched in November 2015, Zerodha Kite Web is a web-based HTML 5 lightweight & fast trading platform which can be used for trading on mobile, tablets as well as on a web browser. Kite is developed in-house by Zerodha and since its launch has undergone various updates. Currently, Kite 3.0 web platform is offered by Zerodha. It offers full market watch, extensive charting with over 100 indicators and 6 chart types, advanced order types like Brackets and cover, millisecond order placements, and much more for trading at BSE, NSE and MCX. Kite Web 3.0 is available for free to all its customers.
          </p>
          <!-- list item ends -->
          <!-- list item -->
          <h4 class="sub-header"><i class="fa fa-ravelry mr-2 fa-flip-horizontal"></i>Kite Android / Kite iOS (Mobile Trading App)</h4>
          <p class="lead">
            A smartphone application for Android and iOS. This app allows customers to trade from their mobile phones. Kite Mobile app is available for free all its customer for trading & monitoring stocks and commodity markets in India. With live streaming data from BSE, NSE and MCX, Kite Mobile App is the most advanced trading app available in India.
          </p>
          <!-- list item ends -->
          <!-- list item -->
          <h4 class="sub-header"><i class="fa fa-ravelry mr-2 fa-flip-horizontal"></i>Zerodha Console (Reporting Dashboard) </h4>
          <p class="lead">
            Console is the back-office platform of Zerodha. It's a trade and reporting dashboard wherein Zerodha customers can view and monitor all their investments- stocks, derivatives and mutual funds etc. They can also access various reports, get account statements, place withdrawal requests and download contract notes. The 'Console' also offers analytics tools such as tradebook and heatmap.
          </p>
          <!-- list item ends -->
          <!-- list item -->
          <h4 class="sub-header"><i class="fa fa-ravelry mr-2 fa-flip-horizontal"></i>Zerodha Sentinel (Price Alert Tools) </h4>
          <p class="lead">Sentinel is a cloud-based tool which allows Zerodha customers to set up price alerts on stocks, futures and options. The unique feature of Sentinel is that unlike other similar price alert tools that are machine dependent and only trigger when the computer is on, here price alerts can be triggered for any time, even when the computer is off. Notifications are sent on Kite and e-mail every time a price alert is triggered. With Sentinel, a trader can set real-time price alerts on 80,000 stocks, derivatives and bonds etc., across exchanges.</p>
          <!-- list item ends -->
          <!-- list item -->
          <h4 class="sub-header"><i class="fa fa-ravelry mr-2 fa-flip-horizontal"></i>Zerodha Coin (Mutual Fund Investment) </h4>
          <p class="lead">Zerodha Coin is a Mutual Fund investment platform by Zerodha. Coin allows people to invest in Direct Mutual Funds. This means you could do commission-free direct MF investment. It offers savings of over 1.5% on commissions every year. Mutual Funds are deposited in Demat account linked with Zerodha trading account.</p>
          <!-- list item ends -->
           <!-- list item -->
           <h4 class="sub-header"><i class="fa fa-ravelry mr-2 fa-flip-horizontal"></i>Call & Trade </h4>
           <p class="lead">Customers who are not online; can use Call & Trade service for an additional cost of Rs 50 per trader.</p>
           <!-- list item ends -->
          </div>
        </div>


        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">Partner Products From Zerodha
            </h1>
            <p class="lead">
              Zerodha not only gives its customers access to its proprietary trading platforms and tools but also to products developed by other companies using the Zerodha platform. The tools can be integrated with Zerodha's Kite platform. Trading platforms and tools offered by Zerodha partners are-

            </p>
            <hr class="my-4">
            <!-- <p class="lead">Securities Transaction Tax (STT)</p> -->
           
          <!-- list item -->
          <h4 class="sub-header"><i class="fa fa-ravelry mr-2 fa-flip-horizontal"></i>Smallcase </h4>
          <p class="lead">
            It is one of its kind thematic investment platforms that enables users to invest in a ready-made portfolio of stocks created around a theme/idea or a strategy. There are several choices in smallcases like Top 100 stocks, Electric Mobility, Insurance etc., for an investor to choose as per his investment strategy and invest in a single click.
          </p>
          <!-- list item ends -->
          <!-- list item -->
          <h4 class="sub-header"><i class="fa fa-ravelry mr-2 fa-flip-horizontal"></i>Streak</h4>
          <p class="lead">
            An end-to-end cloud-based platform for retail traders to create algorithms without coding, Backtest it on historical data and execute them live in the market. It offers other features like real-time information, alerts and manage positions.
          </p>
          <!-- list item ends -->
          <!-- list item -->
          <h4 class="sub-header"><i class="fa fa-ravelry mr-2 fa-flip-horizontal"></i>Sensibull</h4>
          <p class="lead">
            It is an options trading platform that suggests trading strategies to traders based on their market view. With Sensibull, traders can compare various strategies, evaluate their profitability, understand risks and then execute it from the platform. It also allows traders to create custom option trading strategies.
          </p>
          <!-- list item ends -->
          <!-- list item -->
          <h4 class="sub-header"><i class="fa fa-ravelry mr-2 fa-flip-horizontal"></i>GoldenPi</h4>
          <p class="lead">It is an online bonds & debentures trading platform. The automated, and technology-enabled platform provides real-time updates on new investment options, incoming interest payments to your A/C, and personal assistance. GoldenPi doesn't charge any fee from customers. The minimum investing amount in bonds Rs 10,000.</p>
          <!-- list item ends -->
      
          </div>
        </div>

        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">Zerodha Pros (Advantages)

            </h1>
            <p class="lead">
              The following are the advantages of Zerodha. You must read Zerodha advantages and disadvantages before opening an account with Zerodha. Zerodha pros and cons help you find if it suits your investment needs.

            </p>
            <hr class="my-4">
            <!-- <p class="lead">Securities Transaction Tax (STT)</p> -->
           
          <!-- list item -->
          <h4 class="sub-header"><i class="fa fa-thumbs-up mr-2" aria-hidden="true"></i>Most popular broker  </h4>
          <p class="lead">
            Zerodha is the largest stock broker in India (by the number of active clients and daily trading volume).
          </p>
          <!-- list item ends -->
          <!-- list item -->
          <h4 class="sub-header"><i class="fa fa-thumbs-up mr-2" aria-hidden="true"></i>Best trading platform </h4>
          <p class="lead">
            Kite, Console and Coin
          </p>
          <!-- list item ends -->
          <!-- list item -->
          <h4 class="sub-header"><i class="fa fa-thumbs-up mr-2" aria-hidden="true"></i>Brokerage free equity delivery trades </h4>
          <p class="lead">
            You don't pay any brokerage when you buy shares using cash-and-carry (CNC). Delivery trade has no leverage. Once bought, shares get delivered to your demat account and if sold, shares will get debited from your demat account.
          </p>
          <!-- list item ends -->
          <!-- list item -->
          <h4 class="sub-header"><i class="fa fa-thumbs-up mr-2" aria-hidden="true"></i>Cheapest share broker in india</h4>
          <p class="lead">They offer services under a simple pricing model. They charge 0.03% or Rs 20 per executed order, whichever is lower, regardless of the trade size. The maximum brokerage paid by the customer is Rs 20 per trade.

          </p>
          <!-- list item ends -->
      <!-- list item -->
          <h4 class="sub-header"><i class="fa fa-thumbs-up mr-2" aria-hidden="true"></i>Zerodha referral program </h4>
          <p class="lead">Refer a friend and earn 10% of brokerage share.
            
          </p>
          <!-- list item ends -->
          <!-- list item -->
          <h4 class="sub-header"><i class="fa fa-thumbs-up mr-2" aria-hidden="true"></i>Self-clearing broker </h4>
          <p class="lead">Zerodha is a self-clearing broker. They don't charge clearing charges from customers.
            
          </p>
          <!-- list item ends -->
          <!-- list item -->
          <h4 class="sub-header"><i class="fa fa-thumbs-up mr-2" aria-hidden="true"></i>Pay as you go brokerage plans  </h4>
          <p class="lead">Zerodha has simple pay-as-you-go brokerage plan. There are no prepaid brokerage plans available.
            
          </p>
          <!-- list item ends -->
          <!-- list item -->
          <h4 class="sub-header"><i class="fa fa-thumbs-up mr-2" aria-hidden="true"></i>Zerodha GTT orders  </h4>
          <p class="lead">Set long-standing stop loss and target orders for your stock investments.
            
          </p>
          <!-- list item ends -->
          <!-- list item -->
          <h4 class="sub-header"><i class="fa fa-thumbs-up mr-2" aria-hidden="true"></i>Zerodha kite mobile  </h4>
          <p class="lead">An all-new mobile app built for both, passive investors and active day traders, with significant speed and user experience enhancements.
            
          </p>
          <!-- list item ends -->
           <!-- list item -->
           <h4 class="sub-header"><i class="fa fa-thumbs-up mr-2" aria-hidden="true"></i>Online ipo application  </h4>
           <p class="lead">You can apply for new IPOs (Initial Public Offerings) directly with a Zerodha account.
             
           </p>
           <!-- list item ends -->
          </div>
        </div>

        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">Zerodha Cons (Disadvantages)

            </h1>
            <p class="lead">
              The following are the cons of Zerodha. Check the list of Zerodha drawbacks.

            </p>
            <hr class="my-4">
            <!-- <p class="lead">Securities Transaction Tax (STT)</p> -->
           
          <!-- list item -->
          <p class="lead">
            <i class="fa fa-thumbs-down mr-2" aria-hidden="true"></i> Doesn't provide stock tips, research reports or recommendations.
          </p>
          <!-- list item ends -->
          <!-- list item -->
          <p class="lead">
            <i class="fa fa-thumbs-down mr-2" aria-hidden="true"></i> Monthly unlimited trading plans are not available.
          </p>
          <!-- list item ends -->
          <!-- list item -->
          <p class="lead">
            <i class="fa fa-thumbs-down mr-2" aria-hidden="true"></i> Lifetime free AMC demat account plans are not available.
          </p>
          <!-- list item ends -->
          <!-- list item -->
          <p class="lead">
            <i class="fa fa-thumbs-down mr-2" aria-hidden="true"></i> An additional charge of Rs 50 per executed order for MIS/BO/CO positions which are not square off by the customer.
          </p>
          <!-- list item ends -->
          <!-- list item -->
          <p class="lead">
            <i class="fa fa-thumbs-down mr-2" aria-hidden="true"></i> Call & Trade is available at an additional fee of Rs 50 per executed order.
          </p>
          <!-- list item ends -->
          <!-- list item -->
          <p class="lead">
            <i class="fa fa-thumbs-down mr-2" aria-hidden="true"></i> 3-in-1 trading account is not available as Zerodha doesn't provide banking services.
          </p>
          <!-- list item ends -->
          <!-- list item -->
          <p class="lead">
            <i class="fa fa-thumbs-down mr-2" aria-hidden="true"></i> Unlike most 3-in-1 accounts providers, Zerodha Back Office (console) is not integrated with its trading platform. The data in the back office gets updated overnight.
          </p>
          <!-- list item ends -->
        
          </div>
        </div>

        <!-- sub section -->
        <div class="container-fluid">
          <h3 class="sub-header">Zerodha Margin / Exposure

          </h3>
          <p class="sub-header-content">
            Zerodha leverage for intraday, delivery, options, currency and commodities.</p>
          <table class="table mt-5 mb-5  text-center">
            <thead>
              <tr>
                <th scope="col">Segment	</th>
                <th scope="col">Margin </th>
                
    
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Equity Delivery	 </td>
                <td>1x (no margin)
                </td>
                
  
              </tr>
              <tr>
                <td>Equity Intraday	</td>
                <td> Up to 20x (based on the stock)
                </td>
              
              </tr>
              <tr>
                <td>Equity Future		</td>
                <td> Intraday - 40%(2.5x), Carry forward - 100%(1x) of Total margin (Span+ Exposure)
                </td>
               
  
              </tr>
              <tr>
                <td>Equity Options	</td>
                <td> Intraday - 40%(2.5x), Carry forward - 100%(1x) of Total margin (Span+ Exposure)
                </td>
                
  
              </tr>
              <tr>
                <td>Currency Future		</td>
                <td> Intraday - 40%(2.5x), Carry forward - 100%(1x) of Total margin (Span+ Exposure)
                </td>
               
                
              </tr>
              <tr>
                <td>Currency Options		</td>
                <td> Intraday - 40%(2.5x), Carry forward - 100%(1x) of Total margin (Span+ Exposure)
                </td>
               
                
  
              </tr>
              <tr>
                <td>Commodity Future			</td>
                <td> Intraday - 40%(2.5x), Carry forward - 100%(1x) of Span
  
                </td>
               
               
  
              </tr>
             
            </tbody>
          </table>
        </div>
        <!-- sub section ends -->

        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">Zerodha Pin Codes

            </h1>
            <p class="lead">
              Zerodha customer gets 3 pin numbers (passwords or pass codes) for different purposes:

            </p>
            <hr class="my-4">
            <!-- <p class="lead">Securities Transaction Tax (STT)</p> -->
           
          <!-- list item -->
          <p class="lead">
            <i class="fa fa-info mr-2" aria-hidden="true"></i> Kite PIN (for Login to Kite)
          </p>
          <!-- list item ends -->
          <!-- list item -->
          <p class="lead">
            <i class="fa fa-info mr-2" aria-hidden="true"></i> 
            <a href = "#">Zerodha Telephone Code</a> (for calling Zerodha)
          </p>
          <!-- list item ends -->
          <!-- list item -->
          <p class="lead">
            <i class="fa fa-info mr-2" aria-hidden="true"></i> 
            <a href = "#">Zerodha CDSL TPIN</a>(for Demat Sell Transaction)          
          </p>
          <!-- list item ends -->
        
        
          </div>
        </div>

        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">Zerodha Short Selling


            </h1>
            <!-- <p class="lead">
              Zerodha customer gets 3 pin numbers (passwords or pass codes) for different purposes:

            </p> -->
            <hr class="my-4">
            <!-- <p class="lead">Securities Transaction Tax (STT)</p> -->
           
          <!-- list item -->
          <h4 class="sub-header"><i class="fa fa-info mr-2" aria-hidden="true"></i>Equity F&O Segment </h4>
           <p class="lead">Zerodha allows intraday and overnight short selling in the F&O segment.
             
           </p>
          <!-- list item ends -->
         <!-- list item -->
         <h4 class="sub-header"><i class="fa fa-info mr-2" aria-hidden="true"></i>
          Equity Cash Segment </h4>
         <p class="lead">Zerodha allows short selling only for Intraday, but not for overnight positions.
           
         </p>
        <!-- list item ends -->
        
        
          </div>
        </div>

      </div>
      <div class="col-md-3" style="margin-top: 4rem;">
        <app-special-offers></app-special-offers>
      </div>
    </div>
    <!-- /calculator -->
    
      
      
  
    </div>

<!-- footer cards -->
<h1 class="display-4 text-center m-5" style="color:  #333958;">
  <i class="fa fa-code-fork mr-2" aria-hidden="true"></i> Compare Zerodha with Top Brokers in India

</h1>

<hr class="my-4">
<!-- <hr class="my-4"> -->
  <div class="container pt-3 note-pad" >
   

      <div class="row mx-auto m-1 text-center ">
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">Zerodha Vs ICICI Direct</a>

            </div>
          </div>
          
        </div>
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">Zerodha Vs HDFC Securities</a>

            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Zerodha Vs Sharekhan
              </a>

            </div>
          </div>
        </div>
      </div>
      <div class="row mx-auto m-1 text-center">
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Zerodha Vs AxisDirect
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Zerodha Vs Angel Broking
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
            
              <a class="form-control" class="faq"  href="">
                Zerodha Vs Kotak Securities
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mx-auto m-1 text-center">
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Zerodha Vs Motilal Oswal
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Zerodha Vs Karvy
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Zerodha Vs Stoxkart
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mx-auto m-1 text-center">
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Zerodha Vs Groww
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Zerodha Vs Dhani Stocks
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Zerodha Vs IIFL Securities
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mx-auto m-1 text-center">
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Zerodha Vs SBI Securities
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Zerodha Vs Geojit
              </a>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-4">
          <div class="card faqCards shadow-sm">
            <div class="card-body">
            </div>
          </div>
        </div> -->
      </div>
      <div class="row mx-auto m-1 text-center">
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Zerodha Vs Religare
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Zerodha Vs Edelweiss	
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Zerodha Vs SMC Global	
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mx-auto m-1 text-center">
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Zerodha Vs Nirmal Bang

              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Zerodha Vs 5paisa
              </a>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-4">
          <div class="card faqCards shadow-sm">
            <div class="card-body">
            </div>
          </div>
        </div> -->
      </div>




      <div class="row mx-auto m-1 text-center">
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Zerodha Vs Ventura
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Zerodha Vs Upstox
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Zerodha Vs Anand Rathi
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mx-auto m-1 text-center">
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Zerodha Vs Master Trust
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Zerodha Vs Indiabulls
              </a>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-4">
          <div class="card faqCards shadow-sm">
            <div class="card-body">
            </div>
          </div>
        </div> -->
      </div>
      <div class="row mx-auto m-1 text-center">
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Zerodha Vs Aditya Birla Money
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Zerodha Vs Bonanza
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Zerodha Vs SAMCO
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mx-auto m-1 text-center">
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Zerodha Vs TradingBells

              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Zerodha Vs IDBI Capital
              </a>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-4">
          <div class="card faqCards shadow-sm">
            <div class="card-body">
            </div>
          </div>
        </div> -->
      </div>



      <div class="row mx-auto m-1 text-center">
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Zerodha Vs IDBI Capital
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Zerodha Vs TradeSmart
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Zerodha Vs SAS Online
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mx-auto m-1 text-center">
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Zerodha Vs iTradeOnline
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Zerodha Vs RK Global
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card faqCards shadow-sm">
            <div class="card-body">
              <a href="" class="form-control "class="faq">Zerodha Vs Tradeplus</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mx-auto m-1 text-center">
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Zerodha Vs Tradejini
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Zerodha Vs Alice Blue
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Zerodha Vs Wisdom Capital
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mx-auto m-1 text-center">
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Zerodha Vs Fyers

              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Zerodha Vs Finvasia
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card faqCards shadow-sm">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Zerodha Vs Prostocks
              </a>
            </div>
          </div>
        </div>
      </div>




      <div class="row mx-auto m-1 text-center">
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Zerodha Vs RMoney
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Zerodha Vs Beeline
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Zerodha Vs Just Trade
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mx-auto m-1 text-center">
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Zerodha Vs Achiievers
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Zerodha Vs Trustline
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card faqCards shadow-sm">
            <div class="card-body">
              <a href="" class="form-control "class="faq">Zerodha Vs Yes Securities</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mx-auto m-1 text-center">
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Zerodha Vs Indira Securities
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Zerodha Vs Paytm Money
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Zerodha Vs Choice Broking
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mx-auto m-1 text-center">
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Zerodha Vs GCL Securities

              </a>
            </div>
          </div>
        </div>
        
      </div>
  </div>
  <!-- footer cards -->


  
<!-- footer cards -->
<h1 class="display-4 text-center m-5" style="color:  #333958;">
  <i class="fa fa-question-circle mr-2" aria-hidden="true"></i> Frequently Asked Questions

</h1>
<hr class="my-4">

<!-- <hr class="my-4"> -->
  <div class="container pt-3 note-pad" >
   

      <div class="row mx-auto m-1 text-center ">
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
             
             <a class="form-control" class="faq"  href="">Is Zerodha really free?</a>
                
             
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">What is Zerodha demat account?</a>

            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Is Zerodha the best?
              </a>

            </div>
          </div>
        </div>
      </div>
      <div class="row mx-auto m-1 text-center">
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                How much Zerodha charge for trading?
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                How to open Zerodha account online?
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
            
              <a class="form-control" class="faq"  href="">
                Does Zerodha provide IPO?
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mx-auto m-1 text-center">
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Does Zerodha offer direct Mutual Funds?
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Does Zerodha offer margin trading?
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Does Zerodha give tips?
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mx-auto m-1 text-center">
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                Why Zerodha charges for fund transfers?
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                What is Zerodha varsity?
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                What is the Zerodha console?
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mx-auto m-1 text-center">
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                How to change bank account in Zerodha?
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card faqCards ">
            <div class="card-body">
              <a class="form-control" class="faq"  href="">
                What is square off time in Zerodha?
              </a>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-4">
          <div class="card faqCards shadow-sm">
            <div class="card-body">
            </div>
          </div>
        </div> -->
      </div>
  </div>
  <!-- footer cards -->


  
    <!-- review body ends -->