<div class="card " style="border: none;">
    <div class="card-header">
        <label for="">Find Discount Broker</label>
    </div>
    
    <div class="card-body">
        <input type="text"
        style="font-weight: 600;
        color: darkgray;"
        placeholder="select a broker ..." [(ngModel)]="selectedDiscountBroker" list="discountBrokerList" name="guest"
        class="form-control">

      <datalist id=discountBrokerList>
        <option *ngFor="let data of discountBrokerListArray" [ngValue]="data">
          {{data.companyName}}</option>
      </datalist>
    </div>
</div>