


  <div class="   p-3" style="background: #333958; margin-top: -25px;height: 80px;">

    <div class="row ">
      <div class="col-6" >
                <!-- <a href="" style="color: #333959; text-decoration: none;">Zerodha (₹20/Trade) Open Account</a> -->
           
      </div>
      <div class="col-3">
  
      </div>
      <div class="col-3">
       
        <p class="clips p-2 mr-0" *ngFor = "let data of pageData?.top_links">
           <a style="color: #333958;text-decoration: none;cursor: pointer;" routerLink="{{data.link_path}}" routerLinkActive="active"> {{data.link_title}}</a>
        </p>
      </div>
    </div>
  
  </div>


 