
<div class="container-fluid  w-50  mt-5 p-3 mb-5">
    <div class="cards shadow-sm">
        <div class="card-header  text-left" style="border-left: 4px solid #333958;background: white;">
             <p class="lead mt-2" style="font-weight: 100;color: #333958; font-size: 24px;" >Compare Brokers</p>
        </div>
        <div class="card-body">
            <div class="row mt-2">
                <div class="row mx-auto">
                  <div class="col-md-4">
                    <!-- <label for="">First Broker</label> -->
                    <!-- <input type="text" placeholder="" [(ngModel)]="broker1"  class="form-control"> -->
                    
                      <input type="text"
                      style="font-weight: 600;
                      color: darkgray;"
                      placeholder="select a broker ..."  name="guest2" [(ngModel)]="broker1" list="myList" class="form-control">
                     
                       <datalist id=myList >
                         <option *ngFor="let data of allCompanies" [ngValue]="data">
                           {{data.companyName}}</option>
                       </datalist>
                     
          
          
                </div>
                    <div class="col-md-4">
                        <!-- <label for="">Second Broker</label> -->
                        <!-- <input type="text" placeholder="" [(ngModel)]="broker2"  class="form-control"> -->
                        <input
                        style="font-weight: 600;
                        color: darkgray;"
                        type="text" placeholder="select a broker ..."  name="guest" [(ngModel)]="broker2" list="optionss" class="form-control">
                     
                        <datalist id=optionss >
                          <option *ngFor="let data of allCompanies" [ngValue]="data">
                            {{data.companyName}}</option>
                        </datalist>
                    </div>
                    
                    
                    
                    <div class="col-md-4">
                        <button type="submit" (click) = "submitCompareForm()"  class=" submit-button "><b>Compare Brokers</b></button>
            
                    </div>
                </div>
              </div>
        </div>
    </div>
  </div>

  