<!-- Buttons -->
<div class="row mr-0">
    <!-- <div class="col-1">
       
  
    </div> -->
    <div class="col-12" style="margin-top: -20px;">
        <a href="" class="btn btn-danger btn-md waves-effect waves-light">{{companyName}} Review</a>
        <a href="" class="btn btn-danger btn-md waves-effect waves-light">Brokerage</a>
        <a href="" class="btn btn-danger btn-md waves-effect waves-light">Mobile App</a>
        <a href="" class="btn btn-danger btn-md waves-effect waves-light">Exposure</a>
        <a href="" class="btn btn-danger btn-md waves-effect waves-light">Acct Opening</a>
        <a href="" class="btn btn-danger btn-md waves-effect waves-light">Demat</a>
        <a href="" class="btn btn-danger btn-md waves-effect waves-light">IPO</a>
        <a href="" class="btn btn-danger btn-md waves-effect waves-light">Branches</a>
        <a href="" class="btn btn-danger btn-md waves-effect waves-light">Trading Software</a>
        <a href="" class="btn btn-danger btn-md waves-effect waves-light">NRI Account</a>
        <a href="" class="btn btn-danger btn-md waves-effect waves-light">Mutual Fund</a>
        <!-- <a href="" class="btn btn-danger btn-md waves-effect waves-light">BROKERAGE</a> -->
       
    </div>
    <!-- <div class="col-1">
        
       
    </div> -->
    
  </div>


  <div class="   p-3" style="background: #333958; margin-top: -25px;height: 80px;">

    <div class="row ">
      <div class="col-6" style="color: white;">
        <h1 class="font-weight-bold mt-3 h2">{{companyName}}</h1>
        <!-- <h4 class="mb-2 h5 text-left">
              A stock broker plays an essential role in the buying and selling of securities in India. Since stockbrokers play an important role, it is crucial to choose the most suitable stockbroker for yourself.
              They help you in opening a Demat and Trading Account for your trading and investment needs.
          </h4> -->
      </div>
      <div class="col-3">
  
      </div>
      <div class="col-3">
        <p class="clips p-2 mr-0" *ngFor = "let data of shortLinks?.top_links">
          <a style="color: #333958;text-decoration: none;cursor: pointer;" routerLink="{{data.link_path}}" routerLinkActive="active"> {{data.link_title}}</a>
       </p>
      </div>
    </div>
  
  </div>
