<!-- Buttons -->
<app-company-header [companyName] = "companyName"></app-company-header>

<!-- compare broker -->
<app-compare-broker></app-compare-broker>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h1 class="display-4">{{companyName}} Stock Trading / Demat / Brokerage / Reviews 2021
                  </h1>
                  <hr class="my-4">
                  <p class="lead">
                    Incorporated in 1994, Anand Rathi is Mumbai, India based firm engaged in financial and advisory services which includes wealth management, investment banking, corporate advisory, brokerage & distribution of equities, commodities, mutual funds and insurance. Anand Rathi is a full service broker offering brokerage services to retail and institutional customers.
                </p>
                <p class="lead">
                    Anand Rathi has a presence in India as well as internationally through offices in Dubai and Bangkok. Anand Rathi has network of 350+ branches and 1500+ franchise across India.
                </p>
                <p class="lead">
                    Anand Rathi provides options to invest in financial products including Equity, Derivatives, Currency Futures, IPO, Mutual Funds, Commodities and Insurance. They also provide current stock market information which includes stock prices, news, market research reports, stocks tips, events, IPO News and company results though their website.
                </p>
                <p class="lead">
                    <b>Anand Rathi Trades In</b>: NSE, BSE, MCX, NCDEX, USE & NSEL


                </p>
                  <br>
                  
                </div>
              </div>


              <!-- subsection ends -->

              <div class="container-fluid">
                  <h4 class="display-4">
                    {{companyName}} Charges 2021
                  </h4>
                  <hr>
                  <p class="lead">
                      <i class="fa fa-check-square-o "></i>
                      Trading Account Opening Charges (One Time): {{companyData?.charges?.trading_account_opening_charges}}
                  </p>
                  <p class="lead">
                    <i class="fa fa-check-square-o"></i>
                    Trading Annual maintenance charges (AMC): {{companyData?.charges?.trading_annual_maintenance_charges}}
                </p>
                <p class="lead">
                    <i class="fa fa-check-square-o"></i>
                    Demat Account Opening Charges (One Time): {{companyData?.charges?.demat_account_opening_charges}}
                </p>
                <p class="lead">
                    <i class="fa fa-check-square-o"></i>
                    Demat Account Annual Maintenance Charges (AMC): {{companyData?.charges?.demat_annual_maintenance_charges}}
                </p>
              </div>


              <!-- subsection ends -->
<br><br><br><br>
              <div class="container-fluid">
                <h4 class="display-4">
                    Anand Rathi Online Account Opening
                </h4>
                <hr>
                
                <p class="lead">
                    
                    For online trading with AnandRathi, investor has to open an account. Following are the ways to open an account with AnandRathi

                </p>
                <p class="lead">
                  <i class="fa fa-check-square-o"></i>
                  Fill an online application form. Click here to fill the <a href="#">AnandRathi contact form</a>.              </p>
             
            </div>


            <!-- subsection ends -->
            <br><br><br><br>
            <div class="container-fluid">
            <h4 class="display-4">
                Anand Rathi Trading Software (Anand Rathi Trading Platforms)
            </h4>
            <hr>

            <p class="lead">
                Anand Rathi offers 7 trading platforms to its customers:
            </p>
            <br>
            <h4 class="sub-header">
                Trade Lite

            </h4>
            <p class="lead">
                A website based online trading platform offering trading in equity and commodities & currency derivative segments. The trade lite website also offers features like other investment options like IPOs, free research reports, online portfolio etc.
            </p>

            <h4 class="sub-header">
                Trade X'press

            </h4>
            <p class="lead">
                It's a browser based platform mainly designed for occasional investors. This platform is idle for those investors who believe in buy and hold approach towards investment in equities. It allows getting the updates real time. Also it gives instant research call Intimation to immediate action and instant Order/Trade confirmation. It works even over low bandwidth connectivity.

            </p>

            <h4 class="sub-header">
                Trade X'pro
            </h4>
            <p class="lead">
                This platform is mainly suitable for active trader who does frequent transaction to capture favourable short-term price movements. It is an EXE based desktop software which offers dynamic charting, fully customizable display where add, delete and rearrange columns as per your viewing preferences, lock terminal option so you can lock your terminal when not in use and be assured that your account is not accessible to anyone but yourself.
            </p>


            <h4 class="sub-header">
                Trade X'pro+

            </h4>
            <p class="lead">
                This platform offers 'Tools of the Trade' from AnandRathi that allows you to use tons of investment services, trading advice, news and trading tools. Below is the list of their featured products.            
            </p>
            <p class="lead">
                <i class="fa fa-check-square-o mr-2"></i>
                <b>Nest Starter Pack</b>: It's a free package that offers you intraday and historical charts, market monitor alert tool and market scanner which helps to shortlist stocks in real-time based on various conditions.

            </p>
            <p class="lead">
                <i class="fa fa-check-square-o mr-2"></i>
                <b>Nest Premium</b>: It offers real-time news powered by Dow Jones streamed right into your terminal and also perform technical analysis on both short and long term charts to figure out the best time to buy and sell. It's free for one month and after that Rs 150 per month or Rs 1000 yearly.

            </p>
            <p class="lead">
                <i class="fa fa-check-square-o mr-2"></i>
                <b>Nest Pulse</b>: It offers advanced charting with technical indicators, where you can build, test and execute your own trading strategies. It's free for one month and then Rs 125 monthly or Rs 899 yearly.

            </p>
            <p class="lead">
                <i class="fa fa-check-square-o mr-2"></i>
                <b>Vantage trade</b>: In this system identifies emerging opportunities and generates unambiguous Buy/Sell signals for Delivery and Long/Short calls for Intraday/Delivery on all stocks across global exchanges.

            </p>
            <p class="lead">
                <i class="fa fa-check-square-o mr-2"></i>
                <b>Sim Trade</b>: It's free and offers simulated trading environment to test out your strategies in cash and FO.

            </p>
            <p class="lead">
                <i class="fa fa-check-square-o mr-2"></i>
                <b>Web Chart</b>: It allow viewing advanced intraday and historical charts on the website itself without the need to have a separate application. This feature is available for Rs 49 per month or Rs 399 annually.

            </p>
            <p class="lead">
                <i class="fa fa-check-square-o mr-2"></i>
                <b>Mundu TV</b>: You can watch upto five business channels inside your terminal. This feature is available for Rs 49 per month or Rs 450 annually.

            </p>
            <p class="lead">
                <i class="fa fa-check-square-o mr-2"></i>
                <b>Heckly</b>: Heckly provides Real Time Financial Information, News analytics and HeatMaps to get exclusive coverage of markets, companies and businesses. This feature is available for Rs 99 per month or Rs 600 annually.

            </p>

            <h4 class="sub-header">
                Trade Flexi

            </h4>
            <p class="lead">
                Trade Flexi is available for intra-day trading in equity Cash & Future segment. This platform allows their investors to create intra-day position in the equity segment on leveraged margin along with securing the same position with a risk cover by placing a simultaneous stop loss market/limit order. It helps their investors to minimize the risk through system generated stop loss market/limit order.


            </p>
            <h4 class="sub-header">
                Trade On Move
           </h4>
            <p class="lead">
                This platform gives flexibility to their investors to access account from anywhere. This is best suitable for those investors who are always on the move. Those can access trained dealers without incurring any STD cost. They have dedicated phone numbers so you can place your orders, get order confirmation and your account updates through directly access their Trade On move facility. Investor can also place After Market Orders through Trade On Move facility.

            </p>
            <h4 class="sub-header">
                Trade Mobi
            </h4>
            <p class="lead">
                Trade Mobi supports Blackberry and Android devices. This platform allows their investors to access instantly and manages trades through mobile phone. Supported Exchange segment are NSE Cash, NSE F&O, BSE Cash, NSE Currency, NCDEX, MCX and MCX-SX.
            </p>
            </div>

            <br><br><br><br>
            <!-- subection start -->
            <div class="container-fluid">
              <h4 class="display-4">
                Anand Rathi Pros and Cons
             </h4>
              <hr>
             
            
              <h4 class="sub-header">
                Anand Rathi Pros (Advantages)
              </h4>
              <p class="lead">
                The following are the advantages of Anand Rathi. You must read Anand Rathi advantages and disadvantages before opening an account with Anand Rathi. Anand Rathi pros and cons help you find if it suits your investment needs.
            </p>

              
              <p class="lead">
                <i class="fa fa-check-square-o"></i>
                Axis Direct offers a 3-in-1 account. This includes Bank, Demat and Trading Account. This makes trading and investing very easy.
            </p>
              
              <p class="lead">
                <i class="fa fa-check-square-o"></i>
                They have 200 branches for extensive reach.
              
              <p class="lead">
                <i class="fa fa-check-square-o"></i>

                Phone trade is also available.
            </p>
              <p class="lead">
                <i class="fa fa-check-square-o"></i>

                Investment online in IPOs, Mutual Funds, GOI Bonds all from one website. General Insurance is also available.
            </p>
            <p class="lead">
                <i class="fa fa-check-square-o"></i>

                Trading is available in both BSE and NSE.
            </p>
            <p class="lead">
                <i class="fa fa-check-square-o"></i>

                Low bandwidth website is available for slow internet connection or for trading from mobile devices.
            </p>

<br><br>

                <h4 class="sub-header">
                    Anand Rathi Cons (Disadvantages)
                </h4>
                <p class="lead">
                    The following are the cons of Anand Rathi. Check the list of Anand Rathi drawbacks.
                </p>
  
                
                <p class="lead">
                  <i class="fa fa-check-square-o"></i>
                  AnandRathi brokerage is high and not negotiable.
                </p>
                <p class="lead">
                    <i class="fa fa-check-square-o"></i>
                    They doesn't offer 3 in 1 account.
                </p>
                  <p class="lead">
                    <i class="fa fa-check-square-o"></i>
                    There charge extra for their featured products.
                </p>
                 
                 
               
            </div>
            <!-- subsection ends -->


            <br><br><br><br>
            <!-- subsection start -->
<div class="container-fluid">
<h3 class="sub-header">Anand Rathi Margin / Exposure

</h3>
<hr>
<p class="sub-header-content">
    Anand Rathi leverage for intraday, delivery, options, currency and commodities.


</p>

<table class="table mt-5 mb-5 text-center">
<thead>
<tr>
  <th scope="col">Segment	</th>
  <th scope="col">Margin		</th>
</tr>
</thead>
<tbody>
<tr>
  <td>Equity Delivery	</td>
  <td> {{companyData?.margin_exposure?.equity_delivery}}</td>

</tr>
<tr>
  <td>Equity Intraday		</td>
  <td> {{companyData?.margin_exposure?.equity_intraday}} </td>
</tr>

<tr>
  <td>Equity Future	</td>
  <td> {{companyData?.margin_exposure?.equity_futures}} </td>
</tr>

<tr>
 <td>Equity Options		</td>
 <td> {{companyData?.margin_exposure?.equity_options}} </td>
</tr>
<tr>
 <td>Currency Future		</td>
 <td> {{companyData?.margin_exposure?.currency_futures}}</td>
</tr>
<tr>
 <td>Currency Options		</td>
 <td> {{companyData?.margin_exposure?.currency_options}} </td>
</tr>
<tr>
<td>Commodity Future			</td>
<td> {{companyData?.margin_exposure?.commodity_futures}}</td>
</tr>
<tr>
<td>Commodity Options			</td>
<td> {{companyData?.margin_exposure?.commodity_options}}</td>
</tr>
</tbody>
</table>
</div>

<!-- subsection ends-->

<!-- sub section start-->
<div class="container-fluid newSubsection">
<h3 class="sub-header">{{companyName}} Ratings
</h3>
<hr>


<table class="table mt-5 mb-5 text-center">
<thead>
<tr>
  <th scope="col">Segment	</th>
  <th scope="col">Ratings		</th>
</tr>
</thead>
<tbody>
<tr>
  <td><b>Overall Rating</b>	</td>
  <td> {{companyData?.ratings?.overall_ratings}}</td>

</tr>
<tr>
  <td>Fees		</td>
  <td> {{companyData?.ratings?.fees}} </td>
</tr>

<tr>
  <td>Brokerage	</td>
  <td> {{companyData?.ratings?.brokerage}} </td>
</tr>

<tr>
 <td>Usability		</td>
 <td> {{companyData?.ratings?.usability}} </td>
</tr>
<tr>
 <td>Customer Service		</td>
 <td> {{companyData?.ratings?.customer_service}}</td>
</tr>
<tr>
 <td>Research Capabilities		</td>
 <td> {{companyData?.ratings?.research_capabilities}} </td>
</tr>

</tbody>
</table>

</div>

<!-- subsection ends -->
    


        </div>
        <div class="col-md-3">
            <app-company-page-scroll [companyScrollObject] = "companyScrollObject"></app-company-page-scroll>
            <app-special-offers></app-special-offers>

        </div>
    </div>
</div>
<app-compare-broker-list [companyName]="companyName" [companyUrl] = "'anand-rathi'"></app-compare-broker-list>